[2020-07-14 18:54] #314 closed

[2020-07-14 18:55] #62 closed

[2020-07-14 19:06] #775 closed

[2020-07-14 19:06] #776 closed

[2020-07-14 19:06] #749 closed

[2020-07-14 20:33] #554 closed

[2020-07-14 20:33] #746 closed

[2020-07-15 19:27] pdxjohnny opened #782 "model: sktime: Add forecasting models"
https://github.com/alan-turing-institute/sktime

[2020-07-16 17:37] pdxjohnny opened #783 "skel: Replace usage of pkg_resources with importlib.resources"
Just came across this: https://docs.python.org/3/library/importlib.html#importlib.resources.path

We should get rid of some usages of `pkg_resources` within our codebase. This would make it so we could be `zip_safe`!

[2020-07-16 18:18] Nishikoh commented on #783
Hi, I'd like to tackle that.

[2020-07-17 16:25] pdxjohnny opened #785 "docs: faq: Add FAQ page"
Let's come up with a list of questions and answers. Likely the answers will link to pages in the docs

[2020-07-17 17:23] pdxjohnny opened #786 "operation: output: get_single: Alternate input format of dict"
Let's modify `GetSingle` so that if the `spec` input is a `dict` instead of a list, we renamed the final output according to the keys of the dict.

[2020-07-17 17:23] pdxjohnny commented on #786
Assignee: @sakshamarora1

[2020-07-17 17:24] pdxjohnny commented on #786
We will also need to update the examples in the docstring

[2020-07-17 17:33] pdxjohnny opened #787 "cli: dataflow: run: Run command without records"
Records aren't applicable to all dataflows

[2020-07-18 23:36] pdxjohnny opened #789 "shouldi: binary: Use capa to figure out what a built binary is capable of doing"
https://github.com/fireeye/capa

[2020-07-19 05:06] aghinsa opened #790 "df: Orchestrator: Distribuited orchestrator using Nats as message queue"
We'll have *worker nodes* which provides a set of operations as their service, and *orchestrator nodes* which takes care of the dataflow.

**Milestone 1**
-  [x] Fire up the connection between all nodes
-  [x] Communicate operation/dataflow info
-  [x] Ensure that messages are communicated only between paired contexts
-  [x] Assign tokens to worker nodes for operations
-  [x] Spinup worker context

[2020-07-21 16:26] pdxjohnny opened #793 "model: tensorflow: Allow users to define layers in neural network"

[2020-07-21 16:26] pdxjohnny opened #794 "model: pytorch: Allow users to define layers in neural network"

[2020-07-21 16:36] pdxjohnny opened #795 "operations: pre-processing: Provide common pre-processing operations"
Let's create a new plugin, `dffml-operations-preprocessing` which wraps / provides common preprocessing tasks.

Each operation should contain example usage within docstring.

- [ ] one-hot encoding of feature
- [ ] normalization features
  - Find max and scale whole array by max value to 0.0 - 1.0 value

Check out scikit preprocessing functions for more ideas

[2020-07-21 16:41] pdxjohnny opened #796 "docs: tutorial: model: How to go through all the models and find best one"

[2020-07-21 16:48] pdxjohnny opened #797 "model: Add property to identify what the model is used for"
Suggestions

- TASK
- CATEGORY

Possible values include

- REGRESSION
- CLASSIFICATION
- NLP
- CLUSTERING

[2020-07-21 16:54] pdxjohnny opened #798 "configloader: cli: Add configloader to load and dump CLI flags"
Idea here is to have a configloader that parses CLI commands using the existing config infrastrcuture. We'd then write a Python configloader which would take the output of the `loadb` from the CLI configloader, and it's `dumpb` would be Python code which instantiates objects in the same way.

This might help us keep CLI and Python examples in sync.

[2020-07-21 17:04] pdxjohnny opened #799 "model: scapy: Add deep learning based models"

[2020-07-21 17:14] pdxjohnny opened #800 "service: http: Provide a way for dataflow to set response status and headers"

[2020-07-22 15:06] johnandersen777 opened #801 "model: daal4py: Currently broken due to change in 2020.2 release"
https://github.com/IntelPython/daal4py/issues/251

Pinning to `2020.1` as a temporary fix to make the CI pass. We need to fix this before next release. Waiting to hear back on best path forward.

[2020-07-22 16:59] pdxjohnny commented on #783
@Nishikoh Awesome! Just let me know, or anyone on Gitter if you need more info. This should be a case of finding all the `pkg_resources.resource_filename` and changing them

[code]

[2020-07-23 16:02] #692 closed

[2020-07-23 17:28] mHash1m commented on #801
@pdxjohnny do you suggest I dig into this or should I pick another issue if we want to wait on DAAL people to follow up on this?

[2020-07-24 14:47] oliverob commented on #701
Hi, I am looking for a first time contribution. I would like to try and take this on, if you think it will be managable for a newbie?

[2020-07-24 16:18] #657 closed

[2020-07-24 16:20] pdxjohnny opened #804 "usage: webhook: Update to use immediate reponse"

[2020-07-24 16:24] pdxjohnny opened #805 "docs: cli: Update to use -flow"
## Pain Point

What is it that isn't as good as it could be

## Proposed Solution

What would make things behave most smoothly

[2020-07-24 16:40] pdxjohnny opened #806 "docs: contributing: How to make a new entrypoint loadable object"
This will be helpful to those adding support for custom layers

[2020-07-25 06:42] sk-ip commented on #733
this also looks interesting, https://scikit-learn.org/stable/modules/model_evaluation.html

[2020-07-25 12:23] mHash1m commented on #782
@pdxjohnny  I'd like to work on this.

[2020-07-27 18:06] pdxjohnny opened #810 "docs: tutorial: dataflow: chatbot: Need to mention imports, definitions, and pip installs"
@aghinsa I realized that we don't have code in the chatbot example where we show the imports for the chatbot example or the definitions. We also doing ask people to install `aiohttp` or `dffml-model-scikit`.

Can you make a virtualenv, run through the docs, and validate that if you copy paste each section into a new file, you end up with everything working?

[2020-07-27 19:07] pdxjohnny opened #811 "docker: Container broken"
## Describe the bug

Something bad happened!?
A clear and concise description of what the bug is.

## Steps To Reproduce

What were you doing when the bug happened.

[code]

Ideally make it so maintainers can reproduce your issue.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs or Screenshots

Drop screenshots here or preferably

[code]

## Packages

[2020-07-28 05:57] aghinsa opened #812 "cli:dataflow:run: Commands to run dataflow without sources"
we are forced to use records and sources to run a dataflow from cli, we need a way
to just run the dataflow and return the results.

[code]
This would change to

[code]

[2020-07-28 16:19] #786 closed

[2020-07-28 16:38] pdxjohnny opened #816 "ci: 0.3.7: TensorFlow 2.3.0 doesn't work with numpy 1.19.1"
[code]

[2020-07-28 16:47] #804 closed

[2020-07-28 16:54] pdxjohnny opened #817 "operations: deploy: Setup auto reverse proxy using caddy"
https://caddyserver.com/

The goal here is to add more operations to the deploy operations. So that one could have a server running one container per webhook'd repo. With the only container that has ports exposed being a `caddy` container. Then whenever a new webhook'd repo is setup to point to this server for configuration we configure caddy using it configuration port to expose the new service v

[2020-07-28 17:07] sakshamarora1 opened #818 "docs: nlp: Trailing whitespaces and broken plugin docs"
[code]

![Screenshot from 2020-07-28 22-17-40](https://user-images.githubusercontent.com/50872172/88696055-5eed7380-d120-11ea-9647-bc609b4ac4ec.png)

[2020-07-28 17:45] pdxjohnny commented on #818
The main issue here is that `scripts/docs.py` is using the `-----` underline somewhere and therefore sphinx rst parsing is deciding that `-----`  is a second level header.

[2020-07-28 17:46] pdxjohnny commented on #818
Also that whitespace checker is broken: #232

We fixed `-` in last commit

[2020-07-28 23:14] pdxjohnny opened #819 "docs: model: tutorials: Improve"
- Start with run.py
  - Show how we switch from built in model to one we write ourselves

- No math, maybe replace all this with scikit
- One file
- Do not use `from`
- Can we remove the use of `entrypoint`?
- No type hinting
- Remove accuracy method
- SimpleModel should just pickle all properties
  - Remove storage

- myslr:MySLRModel explain how no .py because it's all Python
- explain command l

[2020-07-29 17:35] pdxjohnny commented on #782
@mHash1m Awsome!

[2020-07-29 21:56] pdxjohnny commented on #651
Check out `model/scikit/dffml_model_scikit/scikit_base.py` within the predict method. We should cast the type to `self.config.predict.dtype` before calling [Record.predicted](https://intel.github.io/dffml/master/api/record.html#dffml.record.Record.predicted)

[2020-07-29 21:59] pdxjohnny commented on #593
Fixed in d1d2c3169f39a4e317c37339a84db3374d8ee9bf

[2020-07-29 21:59] #593 closed

[2020-07-29 22:03] pdxjohnny commented on #322
Closed in favor of #779

[2020-07-29 22:03] #322 closed

[2020-07-29 22:03] #320 closed

[2020-07-29 22:05] pdxjohnny commented on #152
We now have support for both

[2020-07-29 22:05] #152 closed

[2020-07-30 18:14] #765 closed

[2020-07-31 16:26] pdxjohnny opened #821 "docs: cli: merge: Need to document"

[2020-08-01 00:35] sakshamarora1 opened #822 "util: data: export_value should convert numpy array to JSON serializable datatype"
## Describe the bug

JSON doesn't serialize numpy datatypes

Error log:

[code]

[2020-08-01 19:18] pdxjohnny commented on #818
What are you using to check for trailing whitespace?

[2020-08-01 19:36] sakshamarora1 commented on #818
@pdxjohnny I have pre-commit git hook that runs this when I do git merge master or git commit :-
[code]

Also can be reproduced using the commit before the NLP operations commit:-
[code]

[2020-08-01 19:53] pdxjohnny commented on #816
We tried pinning tensorflow to < 2.3.0 but no relief yet.

This issue https://github.com/pypa/pip/issues/8076 captures some of what the core problem is here. Ideally we'd have some sort of per-package virtualenv.

To focus on the matter at hand though, we need to understand what package is causing a onflicting version range and see if we can do something similar to what was done with scipy

[2020-08-02 02:00] #701 closed

[2020-08-02 20:25] pdxjohnny opened #825 "shouldi: use: Create new unlocked Git repo definition"
We are currently re-using the git feature repo definition which specifies that the repo is locked. This is the desired behavior for the git operations, since they run multiple instances of the `git` command in parallel (resulting in the creation of `index.lock` files and the inability to run some git operations in parallel). Whereas with shouldi we aren't doing anything related to Git, we just use

[2020-08-03 02:19] pdxjohnny opened #826 "tests: shouldi: use: rust: Checking for javascript not rust"
Currently the rust package we picked to evaluate (crates.io) contains both a package.json and a Cargo.toml. We were getting the results of the npm audit scan rather than the cargo audit scan due to there being the package.json file in the project's root. As well as the fact that the cargo audit wasn't running. Due to it checking for `cargo.toml` rather than `Cargo.toml`

This is currently breaking

[2020-08-03 02:29] #826 closed

[2020-08-04 06:40] 0dust commented on #816
Looks like conda is the culprit here.

[2020-08-04 16:36] #812 closed

[2020-08-04 16:52] #822 closed

[2020-08-04 17:52] #671 closed

[2020-08-18 01:01] pdxjohnny opened #831 "model: Models should save themselves into their directory"
They should save their config dict

[2020-08-18 21:59] pdxjohnny opened #833 "source: Google Sheet source"
Follow the new source tutorial and https://developers.google.com/sheets/api/quickstart/python to create us a source that let's people pull data directly from a google sheet

[2020-08-19 00:51] pdxjohnny opened #834 "source: file: close does not use WRITEMODE"
https://github.com/intel/dffml/blob/78f7ba8de290214919dc45de50800030bbe60f24/dffml/source/file.py#L108

does not use `self.WRITEMODE` (unlike `open`)

change the `"w+"` to be `self.WRITEMODE` and then fix the associated tests

[2020-08-20 05:17] pdxjohnny opened #835 "docs: Remove [all] from install instructions"
It seems error prone, let's remove it until we pin down any dependency issues (Huh-Huh!)

[2020-08-20 15:47] pdxjohnny opened #836 "df: Local file based dataflow caching"
Save all the inputs and state so a dataflow can be resumed from a cached state

[2020-08-20 15:55] pdxjohnny opened #837 "df: base: op: run method for async generators should be async generator"
Right now we're returning a coroutine, we should instead have `ImplementationContext.run` be an async generator if `func` is. The `MemoryOperationImplementationNetworkContext` will also need to be changed.

https://github.com/intel/dffml/blob/e8b33a4bb533bf0245f187070e61cba735d7e255/dffml/df/base.py#L471-L487

[2020-08-28 06:09] #699 closed

[2020-08-28 06:19] sakshamarora1 opened #840 "model: pytorch: Add entrypoint style loading for optimizers and learning rate scheduler functions"
Currently only the torch.nn module has annotations.
Add PyTorchOptimizer and PyTorchScheduler after the next torch release as they are currently adding type annotations for every module in torch.

[2020-08-28 15:47] pdxjohnny opened #841 "cli: dataflow: diagram: Do not show inputs with default values"
We should modify the code in `dffml/cli/dataflow.py` within the `Diagram` class to not show `operation.inputs` which have default values. It makes for giant diagrams sometimes. We should provide an option to show them again

[2020-08-28 16:00] #810 closed

[2020-08-28 16:38] pdxjohnny opened #842 "model: GPU support"
We want to choose the same model config parameter name across models for enabling GPU use, so that the same flag is always passed with the same data regardless of which model.

Right now PyTorch uses `enableGPU` and transformers use `gpus` (which a list of GPUs, or None). We should look at these and other libraries we support or might want to support to come up with a way that works across all of

[2020-09-01 16:16] #794 closed

[2020-09-01 17:05] pdxjohnny commented on #655
It look like we might still be missing a few:

[code]

[2020-09-01 17:08] pdxjohnny commented on #655
- [ ] spacy `output_dir` should be re-named to `directory`
- [ ] transformers `output_dir` should be re-named to `directory`
- [ ] Investigate `vowpalWabbit`

[2020-09-02 16:36] #236 closed

[2020-09-03 15:47] pdxjohnny opened #844 "model: transformers: Release 3.1.0 broke tests"
- [ ] The 3.0.2 release worked, but 3.1.0 does not.
- [ ] Also, something weird is going on, it looks like it's re-downloading the model a bunch of times.

[transformers.log](https://github.com/intel/dffml/files/5163619/transformers.log)

[2020-09-03 15:48] pdxjohnny commented on #844
@0dust if you have time it'd be great if you could look at this

[2020-09-03 18:28] pdxjohnny commented on #490
https://github.com/containers/podman/issues/4131

[2020-09-04 16:25] 0dust commented on #844
Yes sure I will look into it this weekend.

[2020-09-17 20:59] pdxjohnny opened #845 "source: hdf5: Create new source"
We need a new source for the hdf5 file format. It was mentioned in the 2020-09-15 meeting that this is good for storing images in a single file.

References:
1. https://github.com/h5py/h5py

[2020-09-17 23:00] #805 closed

[2020-09-17 23:00] #835 closed

[2020-09-18 01:14] #811 closed

[2020-09-24 20:25] pdxjohnny commented on #583
https://github.com/tpm2-software/tpm2-tools/blob/2bfddf823a03ee39c46c2b3c526882b51b8c9004/.ci/docker.run#L80-L85

[2020-09-25 00:26] pdxjohnny opened #846 "source: df: Allow for adding inputs under context"
Similarly to how the dataflow CLI running works

[2020-09-25 00:30] pdxjohnny opened #847 "source: df: RecordInputSetContext repr broken"
## Describe the bug

Something bad happened!?
A clear and concise description of what the bug is.

## Steps To Reproduce

What were you doing when the bug happened.

[code]

Ideally make it so maintainers can reproduce your issue.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs or Screenshots

Drop screenshots here or preferably

[code]

## Packages

[2020-09-26 20:45] #310 closed

[2020-09-26 20:47] pdxjohnny commented on #310
Fixed in c53786e0c1e3f56e79723789192785d5ff1b62e9

[2020-09-26 20:52] pdxjohnny opened #848 "service: http: routes: URL encoded values in match_info dict"
Some CI runs on Python 3.7.9 with aiohttp 3.6.2 have resulted in `"feed face"`
becoming `"feed%20face"` all of the sudden within the `match_info` dict. We
should URL decode all the values as a workaround for this bug.

[2020-09-26 20:55] pdxjohnny opened #849 "model: tensorflow: dnnc: Search for applicable records failing do to lack of type cast on classification feature"
## Describe the bug

Something bad happened!?
A clear and concise description of what the bug is.

## Steps To Reproduce

What were you doing when the bug happened.

[code]

Ideally make it so maintainers can reproduce your issue.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs or Screenshots

Drop screenshots here or preferably

[code]

## Packages

[2020-09-26 20:56] pdxjohnny opened #850 "source: op: __aenter__ not returning self"
## Describe the bug

Something bad happened!?
A clear and concise description of what the bug is.

## Steps To Reproduce

What were you doing when the bug happened.

[code]

Ideally make it so maintainers can reproduce your issue.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs or Screenshots

Drop screenshots here or preferably

[code]

## Packages

[2020-09-26 20:57] pdxjohnny opened #851 "util: cli: Support dict config parameters"
## Pain Point

What is it that isn't as good as it could be

## Proposed Solution

What would make things behave most smoothly

[2020-09-26 20:58] pdxjohnny opened #852 "sources: SubsetSources iterating over all records instead of grabing just needed ones"
## Describe the bug

Something bad happened!?
A clear and concise description of what the bug is.

## Steps To Reproduce

What were you doing when the bug happened.

[code]

Ideally make it so maintainers can reproduce your issue.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs or Screenshots

Drop screenshots here or preferably

[code]

## Packages

[2020-09-26 20:59] pdxjohnny opened #853 "source: df: Drop requirement to pass features from preprocessed record"
## Pain Point

What is it that isn't as good as it could be

## Proposed Solution

What would make things behave most smoothly

[2020-09-26 21:01] pdxjohnny opened #854 "source: df: Allow for execution in non-strict mode"
## Describe the bug

Something bad happened!?
A clear and concise description of what the bug is.

## Steps To Reproduce

What were you doing when the bug happened.

[code]

Ideally make it so maintainers can reproduce your issue.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs or Screenshots

Drop screenshots here or preferably

[code]

## Packages

[2020-09-26 21:02] pdxjohnny opened #855 "source: df: record method broken"
## Describe the bug

Something bad happened!?
A clear and concise description of what the bug is.

## Steps To Reproduce

What were you doing when the bug happened.

[code]

Ideally make it so maintainers can reproduce your issue.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs or Screenshots

Drop screenshots here or preferably

[code]

## Packages

[2020-09-26 21:03] pdxjohnny opened #856 "operation: output: group by: Remove unused fill property from spec"
## Describe the bug

Something bad happened!?
A clear and concise description of what the bug is.

## Steps To Reproduce

What were you doing when the bug happened.

[code]

Ideally make it so maintainers can reproduce your issue.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs or Screenshots

Drop screenshots here or preferably

[code]

## Packages

[2020-09-26 21:04] pdxjohnny opened #857 "docs: ext: consoletest: Create extension to test tutorials"
## Pain Point

What is it that isn't as good as it could be

## Proposed Solution

What would make things behave most smoothly

[2020-09-26 21:55] pdxjohnny opened #858 "model: autosklearn: Incompatable with version 0.10.0"
[code]

From CI run: https://github.com/pdxjohnny/dffml/runs/1170954826

[2020-09-26 22:17] #848 closed

[2020-09-26 22:17] #849 closed

[2020-09-26 22:17] #850 closed

[2020-09-26 22:17] #851 closed

[2020-09-26 22:17] #846 closed

[2020-09-26 22:17] #847 closed

[2020-09-26 22:17] #852 closed

[2020-09-26 22:17] #853 closed

[2020-09-26 22:17] #854 closed

[2020-09-26 22:17] #855 closed

[2020-09-26 22:17] #856 closed

[2020-09-26 22:17] #857 closed

[2020-09-26 22:17] #254 closed

[2020-09-26 22:17] #620 closed

[2020-09-26 22:17] #104 closed

[2020-09-27 17:57] sk-ip commented on #858
@pdxjohnny , this line needs to be removed, that should fix this issue

https://github.com/intel/dffml/blob/4d0ca9f32f015bd429e74cf9e1788d3bd0cf25f1/model/autosklearn/dffml_model_autosklearn/config.py#L83

[2020-09-27 17:57] sk-ip commented on #858
My master branch is a mess right now hence cannot push the changes :|

[2020-09-27 18:49] pdxjohnny opened #860 "df: memory: Conditions not working"
`no_git_branch_given` defintiion is not given within the dataflow for the
current `docs/usage/integration` but the `git_repo_default_branch` operation is
still being run.

[2020-09-28 22:50] pdxjohnny commented on #858
@sk-ip Awesome, thanks!

[2020-09-29 07:18] purnimapatel opened #861 "docs: tutorial: model: Not working"
The adding model tutorial link is not working.

[2020-10-06 16:13] #834 closed

[2020-10-06 16:44] #858 closed

[2020-10-07 12:42] aadarshsingh191198 commented on #651
Hi @pdxjohnny, can you please help me with the tests which are failing? `(model/scikit, 3.7)`, `(model/scikit, 3.8)` and `(model/xgboost, 3.8)`. The error shows

Now, why would someone check for a string in an array of `int`s. Also, why is the error only in these 3 models?

[2020-10-07 14:52] aadarshsingh191198 commented on #648
@pdxjohnny I want to work on this but am not sure as to what exactly is wanted. Could you please guide me?

[2020-10-09 18:59] pdxjohnny opened #865 "style: Sort imports with isort"
`pip install isort`

Let's do this after the accuracy patch is merged

[2020-10-11 11:44] sk-ip opened #866 "accuracy: spacy: Wrap spacy.scorer accuracy methods within Accuracy plugins"
Spacy models have their own evaluation methods which can be wrapped around the accuracy plugin.

https://spacy.io/api/scorer

- In the existing implementation the evaluation is not according to the scorer. It needs to be updated once this is done.

[2020-10-11 19:17] pdxjohnny commented on #648
@aadarshsingh191198 Python will sometimes create `.egg-link` files for packages that contain `-` in the name where the `.egg-link` file has the package name but with `-` replaced with `_`.

We just need to put the above block into a loop were the first iteration of the loop just does the check as it does it now, and the second iteration checks for the presence of the `.egg-link` file but with the

[2020-10-12 01:38] pdxjohnny opened #867 "util: net: cached_download_unpack_archive: Remove directory on failure to extract"
If we fail to extract the archive. We should remove the directory we were going to extract to.

https://github.com/intel/dffml/blob/3a73d521da2d73b0dd9fbe926af41b737aba835c/dffml/util/net.py#L141-L219

[2020-10-12 15:24] pdxjohnny commented on #651
It should not be checking for a string. That's is the issue here. Don't worry about `model/xgboost` that is an intermittent failure.

It is currently checking for a string because of the change you made, with means the change was either not entirely correct, or the tests also need updating somehow.

[2020-10-12 16:32] pdxjohnny opened #868 "record: Remove confidence from prediction"
Some models use their accuracy as their confidence for a given prediction.

We should separate out the confidence for a prediction into a separate data structure so that we avoid using `float('nan')` when `ModelContext.predict` doesn't know the confidence.

[2020-10-12 16:38] pdxjohnny opened #869 "docs: cli: edit: all: Replace dataflow yaml with create command and diagram"
For [`dffml edit all`](https://intel.github.io/dffml/master/cli.html#all) we should replace the yaml of the dataflow with the `dffml dataflow create` command used to create it, and the diagram showing the visual.

[2020-10-12 21:35] aadarshsingh191198 commented on #648
Thanks ... Now I understood the problem. Will start working on it asap!!

[2020-10-12 21:38] aadarshsingh191198 commented on #651
Okay, I will look into it once again keeping in mind the tests for `model/scikit` ... Thanks for the guidance.

[2020-10-12 22:21] pdxjohnny opened #870 "source: Need to implement length() method for all sources"
We added a `length` property to the `DataFlowSource`

https://github.com/intel/dffml/blob/e36b0eb3e5fe26219a90bc3cc5f80257c336048d/dffml/source/df.py#L94-L105

As such we need to make `length()` an abstract method within [`BaseSourceContext`](https://github.com/intel/dffml/blob/e36b0eb3e5fe26219a90bc3cc5f80257c336048d/dffml/source/source.py#L44)

We then need to implement it within all the sources

[2020-10-12 22:22] pdxjohnny commented on #870
Pinging @0dust

[2020-10-12 23:42] pdxjohnny opened #871 "df: memory: Conditional ops should not present if no definitions are present for condition"
## Describe the bug

Something bad happened!?
A clear and concise description of what the bug is.

## Steps To Reproduce

What were you doing when the bug happened.

[code]

Ideally make it so maintainers can reproduce your issue.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs or Screenshots

Drop screenshots here or preferably

[code]

## Packages

[2020-10-12 23:50] pdxjohnny opened #872 "df: memory: Auto start doesn't handle conditions"
## Describe the bug

Something bad happened!?
A clear and concise description of what the bug is.

## Steps To Reproduce

What were you doing when the bug happened.

[code]

Ideally make it so maintainers can reproduce your issue.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs or Screenshots

Drop screenshots here or preferably

[code]

## Packages

[2020-10-13 01:02] pdxjohnny commented on #860
Closed in favor of #871

[2020-10-13 01:02] #860 closed

[2020-10-13 04:07] #871 closed

[2020-10-13 04:07] #872 closed

[2020-10-14 19:54] pdxjohnny opened #873 "base: Structured logging"
@aghinsa pointed out that models (and probably everything) should have the ability to do structured logging.

[2020-10-16 20:35] #706 closed

[2020-10-20 13:56] spur19 commented on #29
Hey. I'd love to contribute to this issue, if it's still open. Are there any specific models you're looking to add? I had a few ideas, and would love to discuss them with you.
@pdxjohnny

[2020-10-20 16:31] pdxjohnny opened #875 "docs: plugins: models: pytorch: Only show config once"
We need to make it so the args are only shown for one model

[2020-10-20 18:08] pdxjohnny opened #876 "docs: contributing: consoletest: Write documentation"
https://youtu.be/_sp3Riaa4ws?t=1871

[2020-10-28 08:13] yashlamba opened #877 "service: changes in pytorch installation commands with pip"
When running the command: `dffml service dev install` Pytorch installation fails and subsequently nothing gets setup on windows.

Python Version: 3.8.3
pip version: 20.2.4

Probable Cause: The install command for pytorch with pip has now changed, look at https://pytorch.org/get-started/locally/ for more info. The command has just changed for Windows so this issue is platform-specific.

[2020-10-31 00:29] MatthewBerk commented on #841
Hello, I am new to contributing. Is a solution still needed?

When you say "within the `Diagram `class to not show `operation.inputs` ", do you mean not have these blocks of  code execute?
https://github.com/intel/dffml/blob/4a96fa9b6fcfc05d7926834e1ca2ae09f3974496/dffml/cli/dataflow.py#L502

https://github.com/intel/dffml/blob/4a96fa9b6fcfc05d7926834e1ca2ae09f3974496/dffml/cli/dataflow.py#L547
or

[2020-11-03 17:33] pdxjohnny opened #879 "scripts: docs: care: Need to add dffml_model_autosklearn"

[2020-11-03 19:08] pdxjohnny opened #880 "docs: Test all tutorials"
Using consoletest. I'm in progress with this

[2020-11-05 18:12] pdxjohnny opened #882 "ci: dataclasses package being installed by pytorch for Python 3.7 and 3.8"
[code]

In `ericvsmith/dataclasses/setup.py` there is a [`python_requires=">=3.6, <3.7",`](https://github.com/ericvsmith/dataclasses/blob/75b24ef6d01d6c7a728b7ce6228b66f14c25db4f/setup.py#L23)

@yashlamba cloned the repo and installed it but pip correctly does not let us install it

[code]

However, if one installs torch / torchvision, then dataclasses gets installed.

[code]

This is likely a bug

[2020-11-05 18:47] pdxjohnny commented on #882
Relevant pytorch issue: https://github.com/pytorch/pytorch/issues/46930

[2020-11-06 16:50] anushka17agarwal opened #884 "I was going through the documentation and found that DFFML does not support OS's other than LINUX."

[2020-11-06 16:51] #884 closed

[2020-11-06 16:52] anushka17agarwal opened #885 "question: How was going through the official documentation of DFFML and found that it does not support any OS other than LINUX, i'm a mac user. So, is there anyway I can use the software for personal usage as well as development?"

[2020-11-06 19:42] pdxjohnny commented on #885
Hi @anushka17agarwal, you should be able to use the software on MacOS, it's just not guaranteed to work at the moment. Please let us know how it goes and what issues you run into so that we can tack them. That way we will know what issues we need to resolve to be able to officially support it.

[2020-11-06 21:52] pdxjohnny commented on #885
I'm looking into enabling the CI for MacOS: https://github.com/pdxjohnny/dffml/runs/1365842990

We have two issues around the cached download tests, but everything else is looking okay unit test wise.

[code]

[2020-11-07 05:23] #879 closed

[2020-11-07 12:06] yashlamba opened #887 "dffml: plugins: Autosklearn should not be added for Windows OS"
Just went through this: https://automl.github.io/auto-sklearn/master/installation.html#windows-osx-compatibility

It's an easy fix, to check for the os and then add it to the plugins list.

[2020-11-09 14:54] SGeetansh commented on #887
Is it okay if I give it a shot?

[2020-11-09 16:51] pdxjohnny commented on #887
@SGeetansh Yes! The plugins list is in `dffml/plugins.py`, look for the if block around `daal4py` and how it isn't added to the list for Python 3.8. Do the same for autosklearn if `platform.system()` is "Windows". A `CHANGELOG.md` entry is not necessary for this PR.

[2020-11-09 19:09] SGeetansh commented on #887
Should I check just for Windows or macOS too? Because I don't think it supports macOS for now.
https://automl.github.io/auto-sklearn/master/installation.html#mac-osx

[2020-11-10 00:09] pdxjohnny commented on #887
Ah, yes. Please do.

[2020-11-12 16:31] pdxjohnny opened #890 "plugins: Move install_requires into requirements.txt"
We need to go through all the `setup.py` and `setup_common.py` for each plugin and take anything in the `install_requires` and move it to a `requirements.txt` file within the same directory. Then we need to modify `setup_common.py` (or `setup.py` if there is no `setup_common.py`) similar to how was done in 4867b4c1d6b1a51ef89e3926d0561a5502ad2850

[code]

[2020-11-12 16:44] pdxjohnny opened #891 "util: testing: consoletest: Test docstrings"
We need the ability to run the code-block "consoletest" on docstrings.

For models:

- [x] model/spacy
- [x] model/vowpalWabbit
- [x] dffml/model/slr.py

[2020-11-12 16:47] pdxjohnny commented on #890
We're doing because various static analysis tools don't support reading dependencies from `setup.py`. They fail to detect them.

This is also preparation for pinning the version numbers of dependencies when we do the release. We're going to make so that in every released version all the dependencies for each plugin are pinned to a given version with `==` so that new versions which might break our

[2020-11-12 16:50] pdxjohnny commented on #890
The next thing towards pinning is that we need to get the list of installed dependencies and their version for each plugin.

We should probably install `pipdeptree` in the CI, then after installing the plugin run `pipdeptree` to dump the list of installed deps with their versions to the CI output. We can then take the last good CI run before release and copy paste the version in the `requirements.

[2020-11-12 17:04] pdxjohnny commented on #655
Assignee: @yashlamba

[2020-11-13 13:20] yashlamba opened #892 "plugins: models: Track support for Windows and add to CI"
- [ ] scratch
- [ ] scikit
- [ ] tensorflow
- [ ] tensorflow_hub
- [ ] transformers
- [ ] vowpalWabbit
- [x] ~autosklearn~ (Not supported on Windows)
- [ ] xgboost
- [ ] pytorch
- [ ] spacy

[2020-11-14 07:17] SGeetansh commented on #890
Is it okay if I work on this?

[2020-11-14 12:10] yashlamba commented on #890
@SGeetansh, Go ahead and let me know if you need any help! Try following the first comment for one plugin and then move on to the others. A good starting point would be any of the [model](https://github.com/intel/dffml/tree/master/model) plugins :)

[2020-11-14 19:36] #887 closed

[2020-11-14 20:37] pdxjohnny commented on #891
[code]

[2020-11-15 03:57] pdxjohnny opened #894 "windows: Replace /dev/stdin usages with -"
Ensure - always is interpreted as read from stdin

[2020-11-15 23:16] pdxjohnny opened #895 "docs: ext: literalinclude relative: Make literalincludes relative to file docstring was defined in"
When we use Sphinx autodoc on a class that has a docstring with a `literalinclude` directive in it, the argument to the `literalinclude` is the file path to be included. The issue is that the path is resolved from the location in the docs where it was `autodoc`'d from rather than relative to the Python file containing the docstring.

[2020-11-16 03:28] #895 closed

[2020-11-16 03:29] pdxjohnny commented on #880
As seen above we have more to do on this. But most of them are tested which is good enough for `0.4.0`

[2020-11-16 03:30] #655 closed

[2020-11-16 03:32] pdxjohnny opened #896 "model: daal4py: Currently broken"
The CI is showing daal4py as failing. We haven't made any changes to it in a long time and it should have had the version pinned. Likely an underlying dependency has been updated that needs to be pinned.

[2020-11-16 05:31] pdxjohnny opened #897 "df: memory: Watch for incoming contexts and call run_operations_for_ctx"
In 95229ff8049b9b34b5cd319a919d88b33e12ea0a we lost how we previously listened for new contexts entering the network

https://github.com/intel/dffml/blob/bbb0383264d03a1a4449a79b9105662ad644a2e3/dffml/df/memory.py#L857-L909

We should re-implement this functionality that was removed erroneously.`run_operations_for_ctx` should be added to the set of running tasks whenever a new context is seen in t

[2020-11-17 02:46] pdxjohnny commented on #896
Fixed enough for 0.4.0

[2020-11-17 05:42] SGeetansh commented on #890
@yashlamba @pdxjohnny
How should I deal with this? Should I just move it to setup_common.py just like every other module?

https://github.com/intel/dffml/blob/6405f996d77df5ff749f9d5fa287fe7b08f528c5/model/autosklearn/setup.py#L12

[2020-11-17 12:04] yashlamba commented on #892
**dffml-model-pytorch**
All the tests are failing for Pytorch, the issue maybe because of the recent PyTorch update.

Since Pytorch needs to be explicitly installed for dffml (only windows) right now (see #877), the following command was used:
`pip install torch===1.7.0 torchvision===0.8.1 -f https://download.pytorch.org/whl/torch_stable.html`

There is this weird test loop happening each time I r

[2020-11-17 12:10] yashlamba commented on #892
**dffml-model-spacy**
All tests are fine except one and that might just be because I wasn't using a bash terminal. Putting this here just for the record and note for CI:

[code]

[2020-11-17 19:04] pdxjohnny commented on #890
@SGeetansh Anytime you see a case like this where there is both a `setup.py` and `setup_common.py` in the same directory. Add

[code]

to the `setup_common.py`

Remove anything that has been added to `install_requires` within `setup.py` or `setup_common.py` and put it in `requirements.txt`. **Do not** modify or remove the code related to `dffml` or `dffml-*-*` which will look like this:

[code]

[2020-11-19 16:29] pdxjohnny commented on #890
@SGeetansh any progress on this? Let us know if you get stuck

[2020-11-20 08:01] SGeetansh commented on #890
@pdxjohnny Really sorry for the delay. Got super busy with a college project.

[2020-11-20 11:05] yashlamba opened #901 "plugins: Track/Fix support for Windows"
Continuation of #892 which is specifically for model plugins.
- [ ] configloader/yaml
- [ ] configloader/image
- [ ] examples/shouldi
- [ ] feature/git
- [ ] feature/auth
- [ ] operations/binsec
- [ ] operations/deploy
- [ ] operations/image
- [ ] operations/nlp
- [ ] service/http
- [ ] source/mysql

[2020-11-20 11:11] yashlamba opened #902 "plugins: Track need for conda"
To track conda installed packages, and see if we can stop installing things using conda. It looks like most packages are now releasing compiled versions through PyPi, we may be able to get rid of the conda slowness in the CI.
-@pdxjohnny  (From meeting minutes)

[2020-11-20 17:18] pdxjohnny commented on #890
No worries! Thanks!

[2020-11-20 17:45] pdxjohnny opened #903 "docs: tutorials: model: Model with multiple features"
It's not clear how to expand a model from one feature to multiple features. Let's make sure we have clear docs for this

[2020-11-21 22:49] #783 closed

[2020-11-22 03:36] pdxjohnny commented on #902
I think daal4py is the only issue here. There is an issue in their tracker about releasing on PyPi. I'll bug them

[2020-11-23 03:11] #890 closed

[2020-11-23 04:04] pdxjohnny opened #905 "docs: plugins: autosklearn: Examples not present in docs"

[2020-11-23 04:38] #891 closed

[2020-11-23 04:39] #876 closed

[2020-11-23 06:44] pdxjohnny opened #906 "service: dev: pindeps: Create command to pin dependencies in requirements.txt files"
We need to pin dependencies when we do a release so users never end up with untested versions of dependencies.

Test log file: [l.txt](https://github.com/intel/dffml/files/5587450/l.txt)

[2020-11-24 04:52] #906 closed

[2020-11-24 18:02] pdxjohnny opened #907 "docs: tutorials: neuralnetwork: Needs some minor improvements and explanation"
- [ ] We need explanation around `view`
  - [ ] What is it?
  - [ ] What is -1 and 1296 (The same as in_channels of linear)
- [ ] We need a full example around create sequential layers
  - The note below the YAML is not enough to explain, need a full YAML file or show it in this one)

Assignee: @sakshamarora1

[2020-11-24 18:10] pdxjohnny opened #908 "model: pytorch: Change network layer name property to something else"
For model yaml files, we should have the name: property be something like layer_type, since the name is already the key.

[2020-11-24 19:02] pdxjohnny opened #909 "model: pytorch: out_channels as in_channels"
out_channels of the previous layer should be used as in_channels of the next layer, unless overridden

[2020-11-24 19:04] pdxjohnny opened #910 "model: pytorch: Custom exception when loss function is misspelled"
Need helpful error messages when loss function is misspelled, try https://intel.github.io/dffml/master/tutorials/neuralnetwork.html with a misspelling of the loss function to see the current error.

[2020-11-26 07:58] nitesh585 commented on #905
I didn't found the autosklearn in docs/plugins. Can you please share the link?
I am highly interested to contribute to this organization.

[2020-11-30 09:39] SGeetansh commented on #909
May I work on this?

[2020-12-01 17:11] pdxjohnny commented on #907
Would be helpful to add links to the PyTorch documentation so that users know where to go for more information on each layer.

[2020-12-01 17:47] pdxjohnny commented on #378
[code]

[2020-12-01 17:49] pdxjohnny commented on #378
This is dependent on https://github.com/intel/dffml/issues/379

[2020-12-03 02:43] pdxjohnny opened #912 "cleanup: Remove --use-feature=2020-resolver everywhere"
The latest version of pip (which we require users to update to) uses the new resolver by default (yay!) so we can remove all the additions of the feature flag.

Anywhere you see it, remove it. With the docs it should be pretty straightforward. However, there may be some slightly more interesting code paths in `.py` files, there shouldn't be many though.

[2020-12-03 16:48] pdxjohnny commented on #877
We need to add `-f https://download.pytorch.org/whl/torch_stable.html` to the pip install command in `dffml/service/dev.py` within `Install` command, so long as `model/pytorch` is not in the list of plugins to skip.

[2020-12-03 18:07] Devansh252 commented on #912
Can you assign me this issue?

[2020-12-04 18:00] pdxjohnny commented on #912
I can't do it through GitHub due to the way the intel/ org is set up. But you can consider it yours :)

[2020-12-04 18:06] Devansh252 commented on #912
sure, Thanks !

[2020-12-05 07:23] pdxjohnny opened #919 "df:Event types"
Chance orchestrator context run so that it yields three objects, context, event type, results.

Current event type is OUTPUT.

Need to add another part to a dataflow where we can yield Inputs. The event type would be `input`, and in the DataFlow we should add a section for event types. In the event type section the `input` event we could specify when an input should be yielded. We use the inputs s

[2020-12-06 03:03] pdxjohnny commented on #919
This will probably require extensive changes since anywhere where `OrchestratorContext.run` is being calling in an `async for` loop will need to be modified. If you want to do this please let me know we can go over it. I'd recommend that someone with experiance with dataflows do this. If you don't have experiance a good place to start is by looking over the dataflows tutorials and the examples inv

[2020-12-06 03:09] pdxjohnny commented on #667
We still need more analysis on this. The idea here is that we had a lot of places where the config passed to a model needed to be the same across `dffml train|accuracy|predict` command line runs. Looking the `model/` code you'll notice that this is because the `self.config` is stored only in memory. Therefore, `self.config` is different on each invocation of the command line.

We might want to con

[2020-12-06 03:14] pdxjohnny commented on #816
Does anyone know if this has been fixed? @sudharsana-kjl  @yashlamba  @0dust @sakshamarora1 @aghinsa (pinging you all because one of you is probably most likely to have checked / can check)

[2020-12-06 09:23] 0dust commented on #816
@pdxjohnny This issue is still going on: https://github.com/tensorflow/models/issues/9200
Workaround is to either use tensorflow 2.2 or pin numpy to some version <1.19.1
Few day back I tried pinning it to 1.18.5, it seems to be working: https://github.com/0dust/dffml/tree/resolve_tf_conflict_with_np

[2020-12-08 18:31] nitesh585 opened #922 "model: xgboost: implement the support of XGBClassifier"
Right now, in `model/xgboost` we only have the _regressor_ feature and need to implement the _classifier_ as well.

[2020-12-08 22:53] pdxjohnny opened #923 "service: http: Serving static files results in registered dataflows being treated as method not allowed"

[2020-12-09 05:31] #910 closed

[2020-12-09 05:32] #908 closed

[2020-12-09 05:34] #224 closed

[2020-12-09 05:38] pdxjohnny commented on #816
@0dust Thank you for the update!

[2020-12-09 06:36] #923 closed

[2020-12-09 16:08] pdxjohnny opened #924 "model: xgboost: Inconsistency detected by ld.so"
Upstream issue: https://github.com/dmlc/xgboost/issues/6479

Status: Waiting on XGBoost `1.3.0post0` release https://pypi.org/project/xgboost/#history

This effects

|CI Job|
|---|
|docs|
|model/xgboost|

[2020-12-09 19:38] #924 closed

[2020-12-10 16:53] pdxjohnny opened #925 "source: pandas: Take pandas DataFrame"
Fixing this issue will improve the user friendliness of DFFML. Users will be able to pass pandas DataFrame objects to the high level functions when this issue is completed. We need to implement a source that acts as a proxy (passthrough) between DFFML's APIs and a pandas DataFrame. This will let users pass DataFrames to high level functions without converting them to records first.

The `records()

[2020-12-10 17:01] pdxjohnny opened #926 "docs: Increase number of examples"

[2020-12-10 17:32] nitesh585 commented on #905
@pdxjohnny Can I work on it?

[2020-12-10 22:23] pdxjohnny commented on #905
Yes please do! That would be great! Sorry I forgot to say you don't need to ask beforehand, just comment saying you intended to work on an issue.

For this one, I had started but ran into an issue where the example was taking about an hour to run. Not sure why, here's the branch: https://github.com/pdxjohnny/dffml/commits/autosklearn_docs

Here's the CI run in question: https://github.com/pdxjohnn

[2020-12-11 00:53] pdxjohnny opened #927 "ci: flower17 tests failing failure to connect to www.robots.ox.ac.uk"

[2020-12-11 07:21] efder commented on #877
@pdxjohnny Hello, can I take this issue as my good first issue?

[2020-12-14 07:32] nitesh585 commented on #927
@pdxjohnny It is running fine in my latest commit.
Can you please provide more details that I am not getting?

[2020-12-15 02:29] pdxjohnny commented on #927
If it's running fine then this issue can be closed :)

[2020-12-15 18:27] pdxjohnny opened #929 "examples: shouldi: npm audit failure"

[2020-12-15 18:34] nitesh585 opened #930 "docs: plugins: model: Add console example for XBGRegressor"

[2020-12-16 17:23] nitesh585 commented on #905
@pdxjohnny
found the reason why the CI test is running for 1 hour because of the last test (`python run.py`)  in the docstring test.
[code]
As in the above code snippet(_model/autosklearn/dffml_model_autosklearn/config.py_), we just initialize the model with their default values.

In the docs of autosklearn(link is in below), default value of _time_left_for_this_task=3600_. That's why it is runnin

[2020-12-17 00:07] aitikgupta commented on #648
I see the check still hasn't been added yet. Is it okay if I take this up?
/cc @aadarshsingh191198 @pdxjohnny

[2020-12-17 01:01] aadarshsingh191198 commented on #648
Ya sure you can. I got busy in some work so will not be able to take this right now.

[2020-12-17 12:50] sakshamarora1 opened #933 "record: Modify logger.info statement to output array-like features in one liners or in a more readable format"
https://github.com/intel/dffml/blob/9e30119157508d983f27f935157fba8c5e75807d/dffml/record.py#L221

This is the kind of output dictionary it prints:

[code]

The dictionary can have many array-like features.

[2020-12-18 08:35] DKumar0001 commented on #930
I want to work on this issue.

[2020-12-18 08:37] DKumar0001 commented on #926
I want to work on this issue.

[2020-12-18 17:39] aitikgupta commented on #619
Is it okay if I take this up?
Some pointers would do me good, I looked around `tests/test_docstrings.py`, the flow is somewhat clear, but the proposed util: "so that plugins have a file under their tests" isn't very clear to me.
Any guide would help :)

[2020-12-22 17:44] #930 closed

[2020-12-24 16:17] ichisadashioko opened #936 "Testing tensorflow with Python 3.8"
The newest `tensorflow` `2.2.x` release (`2.2.1`) has supported Python 3.5-3.8. We should test our code with the supported `tensorflow` version range (`>=2.0.0` and `<2.3.0`).

https://github.com/intel/dffml/blob/0b84ca2af45671a0ca3ffce8485a1a2f10b1a7c5/model/tensorflow/requirements.txt#L1

Only `tensorflow` 2.2.x supports Python 3.8. `tensorflow` `2.1.x` and below only supports up to Python 3.7 s

[2020-12-29 16:56] #907 closed

[2020-12-29 16:58] #922 closed

[2020-12-29 17:38] pdxjohnny opened #938 "tests: service: dev: pin deps: Fails when new plugin is added"
The current test uses a specific version of a pervious test runs logs. That test run doesn't contain the installed dependency when a pull request is added a new dependency.

[2020-12-29 21:34] pdxjohnny opened #939 "scripts: docs: care: Remove file"
We want to build docs for all plugins

[2020-12-30 08:42] nitesh585 commented on #929
@pdxjohnny I have observed a weird behavior that sometimes this CI test fails but sometimes not. This thing happens in my current pull request.

[2021-01-04 23:08] #912 closed

[2021-01-04 23:30] #648 closed

[2021-01-05 06:52] pdxjohnny commented on #905
Closed via cb4914b2921d83b55e2835c5f00f2df83e517967

[2021-01-05 06:52] #905 closed

[2021-01-05 06:59] #939 closed

[2021-01-05 07:09] pdxjohnny opened #942 "docs: tutorials: model: Documentation"
- consoletest
- sphinx build html

[2021-01-05 15:36] #869 closed

[2021-01-05 21:03] pdxjohnny opened #943 "docs: Make sure --force-reinstall is in all package related tutorials"

[2021-01-05 21:04] pdxjohnny opened #944 "service: dev: release: Build wheels in addition to source"

[2021-01-05 21:07] #943 closed

[2021-01-05 22:07] pdxjohnny opened #945 "model: prophet: Create new model to wrap fbprophet"
Related: https://github.com/facebook/prophet/issues/401

[2021-01-06 01:25] pdxjohnny opened #946 "high level: train/accuracy/predict make it so they can accept a async iterator of records"

[2021-01-06 05:25] pdxjohnny opened #947 "docs: examples: COVID Oregon: Cases and deaths by county"
A sad but relevant example

Data
- [COVID Oregon Counties Test Clean 2020-10-25 to 2020-10-31.csv.gz](https://github.com/intel/dffml/files/5773998/COVID.Oregon.Counties.Test.Clean.2020-10-25.to.2020-10-31.csv.gz)
- [COVID Oregon Counties Train Clean to 2020-10-24.csv.gz](https://github.com/intel/dffml/files/5773999/COVID.Oregon.Counties.Train.Clean.to.2020-10-24.csv.gz)

[2021-01-06 07:26] #947 closed

[2021-01-07 01:41] pdxjohnny opened #948 "record: Add confidence method"
We should separate the confidence and the value of the prediction from each other. That way users don't have to get the value and the confidence out of the predicted key.

[2021-01-07 01:51] pdxjohnny opened #949 "docs: tutorial: model: docs: Docstring testing"
Docstring writing and testing using consoletest

[2021-01-07 16:29] pdxjohnny opened #950 "util: testing: consoletest: Nested test entrypoint issue"
There is something wrong with consoletest and how it runs the unittest command
in docs/tutorials/models/docs.rst. The myslr model is raising an
EntrypointNotFound exception.

[2021-01-07 17:45] pdxjohnny opened #951 "docs: Make link to master docs more clear"
We need to also make it clear when the docs are showing the latest release vs. the master branch

[2021-01-07 17:46] pdxjohnny commented on #903
I'm just going to modify the skel/model to have `Features` instead of a single `Feature`

[2021-01-07 21:59] #949 closed

[2021-01-08 00:46] #903 closed

[2021-01-08 01:06] #951 closed

[2021-01-08 02:14] pdxjohnny opened #952 "release: compliance: 0.4.0"
Internal compliance related tasks

[2021-01-08 02:15] #944 closed

[2021-01-08 11:24] nitesh585 commented on #950
@pdxjohnny  I think we also need to install myslr model.
[code]
I did this and after that everything is working fine.

[2021-01-08 17:23] pdxjohnny opened #953 "model: transformers: AttributeError: 'OneDeviceStrategy' object has no attribute 'experimental_run_v2'"
This happened after upgrading to tensorflow version 2.4.0

[code]

[2021-01-08 17:45] pdxjohnny commented on #950
@nitesh585 At the top of `docs/tutorials/models/docs.rst` we are doing that: https://github.com/intel/dffml/blame/master/docs/tutorials/models/docs.rst#L23

The issue happens when we add `:test:` to the `code-block` directive here: https://github.com/intel/dffml/blame/master/docs/tutorials/models/docs.rst#L205-L210

[2021-01-08 19:27] pdxjohnny opened #954 "df: Figure out how to integrate wasmer to run wasm operations"
https://pypi.org/project/wasmer/

[2021-01-08 21:28] pdxjohnny opened #955 "service: http: routes: upload: Add ability to scan uploaded files for viruses"
clamav has a CLI we might be able to leverage for this.

This probably amounts to adding a field to the `@config` for the `Server` class in `service/http/dffml_service_http/cli.py` which is a bool value.

If the bool value is true then use [`asyncio.create_subprocess_exec`](https://docs.python.org/3/library/asyncio-subprocess.html?highlight=create_subprocess_exec#asyncio.create_subprocess_exec) to

[2021-01-09 01:28] pdxjohnny commented on #667
I recently realized applicable features exists in SimpleModel

[2021-01-09 01:32] pdxjohnny commented on #953
Duplicate of #844

Caused by updating tensorflow to 2.4.0 but keeping transformers <3.1.0

[2021-01-09 01:32] #953 closed

[2021-01-10 19:45] pdxjohnny opened #956 "docs: tutorials: dataflows: wasm: Add example of how to use wasm"
## Pain Point

What is it that isn't as good as it could be

## Proposed Solution

What would make things behave most smoothly

[2021-01-12 14:49] pdxjohnny opened #957 "model: darts: Expose time series models using darts"
Create a new model by following the new model tutorial. Place the package under
`model/darts` within the dffml source repo (relative to the root).

[code]

Expose some of the time series models. STart with one model, then go from there.
See the OR COVID data example for help.

[2021-01-13 00:54] pdxjohnny opened #958 "df: types: DataFlow: Add section to identify how the dataflow should be executed"
Add `version` field
Add `execution` field
- We can make the way it works now "permutations" or something

[2021-01-13 09:32] nitesh585 opened #959 "model: H2O_AutoML: Add support of H2O AutoML"
To add model in dffml - https://intel.github.io/dffml/master/tutorials/models/index.html
H2O AutoML - http://docs.h2o.ai/h2o/latest-stable/h2o-docs/automl.html

[2021-01-13 14:59] pdxjohnny opened #960 "model: orion: Time series anomaly detection"
Follow the new model tutorial (the Oregon COVID data example may also be
helpful).

Then try to implement a model using Orion
https://signals-dev.github.io/Orion/getting_started/quickstart.html

[2021-01-14 16:34] pdxjohnny commented on #844
I have a branch https://github.com/pdxjohnny/dffml/branches/model_tensorflow_upgrade_to_2_4_0

[2021-01-15 17:39] nitesh585 opened #961 "model: autogluon: Add autogluon model plugin"
To add model in dffml - https://intel.github.io/dffml/master/tutorials/models/index.html
Autogluon - https://github.com/awslabs/autogluon

[2021-01-17 17:03] AhmedEssam19 commented on #959
any tips before starting to work on it??

[2021-01-19 18:08] sk-ip opened #962 "service: http: Javascript example is not working"
## Describe the bug
The http javascript example is not working, https://github.com/intel/dffml/blob/master/service/http/examples/javascript/index.js

## Steps To Reproduce
Followed the docs on this page https://intel.github.io/dffml/master/plugins/service/http/javascript.html

## Logs or Screenshots
[code]

[2021-01-19 18:13] sk-ip opened #963 "service: http: Python example needs to be updated"
the http api python example needs to be updated,
https://intel.github.io/dffml/master/plugins/service/http/python.html

[2021-01-21 17:23] pdxjohnny opened #964 "plugins: Remove reading in requirements.txt and adding to INSTALL_REQUIRES in setup*.py"
We found out that we don't need to have both requirements.txt files and add
those requirements to `install_requires` of `setupools.setup()`.

We can remove the following code blocks.

[code]

[2021-01-22 17:03] pdxjohnny commented on #964
https://www.python.org/dev/peps/pep-0440/
- Local version identifiers (the +) `torchvision===0.8.2+cu110`

https://www.python.org/dev/peps/pep-0508/
  - Environment Markers
    - python_version
    - platform_system

https://www.python.org/dev/peps/pep-0517/
- New style build system / packaging PEPs using `pyproject.toml` (and `setup.cfg`)
- Also https://www.python.org/dev/peps/pep-0518/ is intere

[2021-01-23 06:49] pdxjohnny commented on #964
Just to recap

- We moved everything to requirements.txt so we could scan with Synk
- Synk found issues with TensorFlow < 2.4.0
  - We need to update or remove model/transformers because of this before the 0.4.0 release
- Before release we also need to make sure that we pin all the versions of all the dependencies to known versions that work together.
  - On different OSs (Linux, Windows, MacOS, e

[2021-01-23 06:54] pdxjohnny commented on #964
@yashlamba  and I have done some work on this so far in the model_tensorflow_upgrade_to_2_4_0 branch

[2021-01-23 07:33] yashlamba commented on #964
I researched a bit and have a few points that might be of use:
1.  [Here](https://support.snyk.io/hc/en-us/articles/360004699377-Snyk-for-Python) it says:

Have we tried this?

2. Since requirements.txt just lists all the arguments to the `pip install` command, would it work with Snyk if we just put a "." in requirements and list all the dependencies in `setup.py`.

[2021-01-24 03:15] pdxjohnny commented on #964
Well the Synk scan isn't really the priority anymore but that is good to know.

I think our main issue is that we need to get something that lets us do the pinning

[2021-01-26 18:05] pdxjohnny opened #966 "cli: dataflow: Modify to use ConfigLoaders class instead of BaseConfigLoader"
Currnetly we sepecify configloader format or do auto dection via file type
within dffml/cli/dataflow.py

Let's modify CMD() from util/cli/ to add the ConfigLoaders instance it creates
to as a property of the instantiated CMD() object.

Then refactor dataflow.py code to use that added property and make sure taking
input from /dev/stdin still works.

[2021-01-26 18:24] pdxjohnny opened #967 "configloader: configloaders: Add .dirconf like support for dataflows stored in archives"
Related: #662

[2021-01-26 18:41] pdxjohnny opened #968 "model: automl: Hyperparameter tuning"
We want to add proper AutoML to DFFML.

The goal here is to create a model which takes as a property of it's config a set of models to used for hyperparameter tuning. Another property of it's config is the set of models which we should attempt to tune (via the first set).

Default values for these results in using all installed models to try to tune all installed model plugins.

To start, we shoul

[2021-01-26 18:49] #816 closed

[2021-01-26 18:52] pdxjohnny commented on #649
I think this might have gotten fixed already, we need to verify

[2021-01-26 18:54] pdxjohnny commented on #474
Done https://intel.github.io/dffml/master/tutorials/models/docs.html

[2021-01-26 18:54] #474 closed

[2021-01-26 19:11] pdxjohnny opened #969 "df: prebuilt: Add set of premade DataFlows users can use out of the box"
## Project Description

The goal here is to provide data flows that would work "out of the box" for most
users dataset cleanup needs.

This might mean data flows that drop outliers, convert dates, etc.

We need to take an evidence based approach. Using several real world popular
datasets (which have no legal or ethical questions whatsoever, we try to stay
out of trouble here!) we'll want to see wh

[2021-01-27 04:41] nitesh585 opened #970 "model: Catboost: Add model catboostregressor and catboostclassifier"
Catboost - https://github.com/catboost/catboost
To add model in dffml - https://intel.github.io/dffml/master/tutorials/models/index.html

[2021-01-27 05:17] wchaudry commented on #954
@pdxjohnny Let us know how the Wasmer team can help or participate.

[2021-01-30 14:42] abhaykatheria commented on #969
I took the liberty to investigate this topic. Usual the data is of 3 types.
 - numeric
 - categorical
   - ordinal
   - nominal
 - DateTime( which can be converted to numeric by adding more columns ).

I found this [dataset](https://www.kaggle.com/c/bluebook-for-bulldozers/data) Blue Book for Bulldozers. on kaggle which have features of all type and also missing values. I think this can be used fo

[2021-01-31 21:11] pdxjohnny commented on #52
I think what needs to happen here is that we need to change everywhere `Input.parents` is accessed to make it so that they must be accessed through a `BaseInputNetworkContext`. This will ensure that inputs can be loaded from external sources if they are not already in memory.

[2021-01-31 21:31] pdxjohnny opened #975 "df: types: input: Set origin to value other than seed by default"
Right now all inputs have a default origin of "seed". To help ensure developers
always know exactly which origins they accept inputs from, we should default the
value to something else. Or maybe even thrown an exception if the value is not
given.

[2021-01-31 21:32] pdxjohnny commented on #919
We need to make sure events are propagated from subflows too

[2021-01-31 21:33] pdxjohnny commented on #919
We also need to make sure that we have some way of marking Inputs or events as security sensitive. For example the value of a private key should never be sent in the event log, unless explicitly requested by the user.

[2021-02-02 18:39] pdxjohnny opened #976 "service: dev: install: Pass rest of CLI args to pip install"
## Pain Point

Since pip's dependency resolver only knows how to deal with packages currently
being installed.

## Proposed Solution

Make it so that arguments after `--` get passed directly to the `pip install`
command when running `dffml service dev install`

## Example

If we created a new model and needed pip's dependency resolver to pick up it's
dependencies and that of every other plugin, we

[2021-02-03 15:29] #818 closed

[2021-02-03 20:51] pdxjohnny opened #977 "ci: Remove conda everywhere"
daal4py is now on PyPI. we can remove conda everywhere. This is likely part of our current CI failure

Related:
- https://github.com/IntelPython/daal4py/issues/244#issuecomment-772131078

[2021-02-03 21:02] pdxjohnny opened #978 "df: base: op: Add keyword argument to toggle interpretation of None"
Add a boolean keyword argument to [`@op`](https://intel.github.io/dffml/master/api/df/base.html?highlight=op#dffml.df.base.op) to toggle interpretation of the wrapped function's return value.

`valid_return_none` might be a good choice. If `valid_return_none` is true. Then we should build the result dict

References:
- 51d5a979dcb3e54ab970c5fc84b56d62cd908bcf

[2021-02-06 11:00] sidhu1012 commented on #978
What exactly needs to be done here? As much as I understood a new argument is to be added to  here
https://github.com/intel/dffml/blob/fc54136096bf71baed5a59228b910654f6bcc7ea/dffml/df/base.py#L255

[2021-02-06 12:28] sidhu1012 opened #981 "Color in github actions"
It would be nice if colors are enabled in `Git Actions` . It would make reading and understanding actions easier.

[2021-02-07 11:03] sidhu1012 commented on #960
I'll give it a try.

[2021-02-09 16:46] pdxjohnny commented on #978
You understand correctly. Another keyword argument needs to be added to the `op` function.

[2021-02-10 00:35] pdxjohnny commented on #583
[code]

[2021-02-10 00:35] pdxjohnny commented on #583
We'll do this one after `accuracy_staging` is merged

[2021-02-10 10:18] B-Anupam commented on #651
Hey!
I am Interested in Machine Learning projects and looking openly for a contribution.
Please let me know how can I contribute to this issue?

[2021-02-10 16:53] #651 closed

[2021-02-10 17:10] pdxjohnny opened #983 "source: excel: New source for xlxs files"
Follow both source tutorials to get an idea of how sources work. See the CLI command reference for listing records.

Follow the complex source tutorial to implement a source which provides access to xlxs format files. The entrypoint for the source should be `xlxs`.

References:
- https://openpyxl.readthedocs.io/en/stable/usage.html

[2021-02-10 17:11] pdxjohnny commented on #651
@B-Anupam This issue was just fixed (thank you @sidhu1012!). Issue #867 seems like a good target for a first contribution. Please read the contributing documentation first: https://intel.github.io/dffml/master/contributing/index.html

[2021-02-10 18:22] pdxjohnny commented on #844
This is being tracked here: https://github.com/dffml/dffml-model-transformers/issues/1

We'll move it back in once we've upgraded

[2021-02-10 19:15] pdxjohnny opened #984 "cleanup: Rename master branch to main"
There are a lot of references to `master` through out our codebase. `git grep` will be your friend here.

[2021-02-11 05:48] version0chiro commented on #984
I would like to work on this issue, if only the renaming of the 'master' references to 'main' is required or I need to do some checkout?

[2021-02-11 07:02] sidhu1012 commented on #960
@pdxjohnny Where shall this model go?

[2021-02-11 16:13] pdxjohnny commented on #984
@version0chiro Try to start re-naming things, push a PR, and we'll see what happens

[2021-02-12 05:04] rajpratyush commented on #983
@pdxjohnny can you give some more details on this issue on what has to be done?

[2021-02-12 05:05] rajpratyush commented on #970
Can I work on this issue?

[2021-02-12 05:08] rajpratyush commented on #926
@pdxjohnny Can you brief me about this issue??

[2021-02-12 05:13] pdxjohnny commented on #983
@rajpratyush Have you gone through the following documentation?

- https://intel.github.io/dffml/master/contributing/index.html
- https://intel.github.io/dffml/master/tutorials/sources/index.html

[2021-02-12 05:14] pdxjohnny commented on #970
@rajpratyush Yes! (See https://intel.github.io/dffml/master/contributing/dev_community.html#communication-style)

[2021-02-12 05:17] pdxjohnny commented on #960
@sidhu1012 Under `model/orion`.

The process is (#725):

[code]

[2021-02-12 05:19] pdxjohnny commented on #926
@rajpratyush I've updated the issue description :)

[2021-02-12 05:32] sidhu1012 commented on #960
Thanks @pdxjohnny

[2021-02-12 16:15] pdxjohnny opened #987 "util: testing: consoletest:"
In `dffml/util/testing/consoletest/`, we have the ability to read `.rst` files and run the console tests in them (see the README for more info).

We can parse out code blocks with the code in `parser.py`.

The goal of this issue is to put a light wrapper on the CLI functionality to accept a document without `code-block` directives, for example, the body of this commit message: bc681e28bba2be39308f

[2021-02-12 16:48] pdxjohnny commented on #619
@aitikgupta I've updated the issue body, sorry for the slow response! Let me know if you have further questions.

You may have moved on to other things, so for anyone else reading this, the issue is up for grabs, subject to the contributing guidelines: https://intel.github.io/dffml/master/contributing/dev_community.html#communication-style

[2021-02-13 01:19] pdxjohnny opened #988 "tests: ci: Add tests to validate CI workflow"
Make sure that are testing all the plugins

[2021-02-13 04:31] pdxjohnny opened #989 "ci: Run tests for latest release in GitHub actions using schedule"
We need to copy the existing targets. We probably also want to toggle consoletest to not use `-e` when we're testing the latest release.

References:
- https://futurestud.io/tutorials/github-actions-trigger-builds-on-schedule-cron

[2021-02-14 03:41] pdxjohnny opened #990 "model: spacy: Move to 3.X"
## Pain Point

What is it that isn't as good as it could be

## Proposed Solution

What would make things behave most smoothly

[2021-02-14 03:43] pdxjohnny opened #991 "model: autosklearn: Upgrade to 0.12.X"

[2021-02-14 04:35] nitesh585 commented on #705
The TensorFlow throws an error the explanation - https://stackoverflow.com/questions/47734748/tensorflow-shape-does-not-match-the-shape-stored-in-checkpoint

[2021-02-14 04:55] pdxjohnny opened #992 "model: autosklearn: Container and docs failing due to ConfigSpace numpy inconpatabiltiy"
[code]

References:
- https://github.com/automl/ConfigSpace/issues/173

[2021-02-14 07:12] #977 closed

[2021-02-14 07:12] #988 closed

[2021-02-14 07:12] #990 closed

[2021-02-14 07:12] #991 closed

[2021-02-14 07:14] #964 closed

[2021-02-14 07:15] pdxjohnny commented on #992
We need to track this and remove our temporary fix when https://github.com/automl/ConfigSpace/pull/175 is merged

[2021-02-14 20:05] pdxjohnny commented on #938
[logs_2403.zip](https://github.com/intel/dffml/files/5978430/logs_2403.zip)

[2021-02-17 00:43] pdxjohnny opened #994 "model: pytorch: base: Update calls to numpy array creation"
[code]

[2021-02-17 01:01] pdxjohnny opened #995 "model: pytorch: resnet: Tensors are of unequal size"
So we had an issue where the CI had been skipping the resnet tests. They don't seem to be working, and it's unclear if they ever worked in CI.

[code]

We'll just to `return` out the test for the `0.4.1`

Pinning @sakshamarora1

[2021-02-17 08:00] pdxjohnny opened #996 "model: Video support"
This is a meta issue to track figuring out how we are going to do a clean implementation of support for videos.

Please comment any thoughts / links to branches or anything you've thought and played around with related to this!

[2021-02-17 08:04] pdxjohnny commented on #996
We've talked about two approaches so far:

- Records a whole video
  - We probably need to add an async methods to record to fetch the next frame in this case. In case video is live streamed.
- Records as frames
  - This might require less / maybe no modifications to the Record class. However, it introduces the problem of how does a model know when a frame belongs to one video vs. the next video w

[2021-02-17 08:05] pdxjohnny opened #997 "model: atlas: New model for video to 3d scene"
We'll need to figure out how we want to support videos as inputs first

References:
- #996
- https://github.com/magicleap/Atlas

[2021-02-17 16:50] Vk24-hash commented on #987
Hey @pdxjohnny I am new to open source contribution, can I give this one a try?

[2021-02-17 20:30] #995 closed

[2021-02-18 00:32] pdxjohnny commented on #992
Looks like they've merged but we're waiting on a verison bump

[2021-02-18 01:13] pdxjohnny commented on #987
@Vk24-hash please do! Make sure to check out the contributing docs for some guidance.

[2021-02-18 07:01] iamapickle commented on #994
Do you want the warning to be removed simply, since result will still remain the same? or to change the dtype to object?
and can i do this?

[2021-02-18 08:30] pdxjohnny commented on #994
@iamapickle yes the issue is up for grabs, see https://intel.github.io/dffml/master/contributing/dev_community.html#who-s-working-on-what

I'm not sure. I haven't looked into it. The numpy docs or source relevant to this deprecation warning should be read to understand what our code should be changed to.

[2021-02-18 09:05] pdxjohnny opened #999 "ci: run: newline: Write a check that makes sure that all source files end with a newline"

[2021-02-18 16:48] Vk24-hash commented on #987
Thanks, I read the issue and what i got from it was that we have to make
add control statements to a new argument passed in cli.py which would call
util.code_block_to_dict() if it's true and nodes = parse_nodes(...) if it's
false . I am confused as if I have to make a new function or edit an
existing one, if I am supposed to edit then how to know which one I have to
edit? Please guide me.

On Thu,

[2021-02-18 17:18] Pratikrocks commented on #994
Hi @iamandeepsandhu are you taking up this issue, if not please inform me I will be taking it :)

[2021-02-18 17:31] Pratikrocks commented on #999
Hi @pdxjohnny in this issue do we need to check weather the source files like `CSV or SQL` are ending with a new line or right ?

[2021-02-18 23:25] pdxjohnny opened #1002 "record: Force key to be string on init"
Affects: dffml==0.4.0

We need to modify the `Record.__init__()` method to have `key = str(key)`

[2021-02-18 23:26] pdxjohnny commented on #999
@Pratikrocks "source" in this case means source code, so `.rst`, `.py`, `.js`, `.md`, etc.

[2021-02-18 23:37] #861 closed

[2021-02-18 23:37] #952 closed

[2021-02-19 02:03] Pratikrocks commented on #999
Okay @pdxjohnny :)

[2021-02-19 04:45] Pratikrocks commented on #999
@pdxjohnny there are a large number of files currently which are not ending with a new line take for example this files last line [FILE](https://github.com/intel/dffml/blob/d309db8503ab3c29fcd99b96479c24b2fdd4d200/dffml/df/base.py#L1028)

similarly huge files are there so should we add a new line to all such file and then write a `pytest`  for checking a newline in other files?

[2021-02-19 04:48] pdxjohnny commented on #987
Start by reading the code, and running the example in the README.md in the directory where the files we're talking about are located. Then try editing the function where `parse_nodes()` is being used.

[code]

[2021-02-19 04:54] Vk24-hash commented on #987
Thanks, I'll check it out.

On Fri, Feb 19, 2021 at 10:18 AM John Andersen <notifications@github.com>
wrote:

[2021-02-19 04:55] pdxjohnny commented on #999
@Pratikrocks

We want to check if the last byte in the file is `b"\n"`

Good plan! Let's add it under `tests/test_style.py`

[2021-02-19 05:03] kahanikaar commented on #1002
I would like to contribute to this issue, will be grateful for guidance to approach this. @pdxjohnny

[2021-02-19 05:09] Pratikrocks commented on #999
Okay then am just adding an extra "\n" to pre-existing files ( excluding files  hidden dirs and binaries)  and then modifying the test/test_styles.py

[2021-02-19 19:02] pdxjohnny commented on #999
You can use the `IngoreFile` class in `tests/test_ci.py` to make sure you aren't getting anything that's in a `.gitignore`, and then `pathlib.Path.rglob` to grab all the files.

- First open a PR with the test implemented.

- Then add the newline byte where required in a spertate commit after you see that the test you added caused the CI to fail.

[2021-02-19 19:06] pdxjohnny commented on #1002
Read the source code for the `Record.__init__` method. Use `git grep` to find it `git grep -n __init__ -- path/to/record.py_file`

Use the documentation website to find what file the `Record` class is in: https://intel.github.io/dffml/master/search.html?q=Record+class&check_keywords=yes&area=default#

- Click the above link to see how you would search for it
- Figure out what file it is in

[2021-02-19 23:22] kahanikaar commented on #1002
Made an initial PR. Do review @pdxjohnny

[2021-02-20 03:25] pdxjohnny opened #1006 "model: scikit: Pipelines"
## Pain Point

What is it that isn't as good as it could be

## Proposed Solution

What would make things behave most smoothly

[2021-02-20 08:14] BlitzCoder1 commented on #968
hey i want to contribute to this can you provide a potential start as in how should i proceed

[2021-02-20 21:00] mHash1m commented on #996
Perhaps we could make use of directories for every video or just naming through identifiers for the frames eg. vid1frame1, vid2frame1 to differentiate.

[2021-02-20 21:28] mHash1m commented on #960
Can I work on this if its inactive?

[2021-02-21 19:28] aryanxk02 opened #1007 "docs: specifying the python version while installing the dffml module"
When I install the DFFML module on my Ubuntu 20.04 using the command as specified in the documentation :
`python -m pip install -U dffml`

I receive a message saying,

`  command 'python3' from deb python3`
` command 'python' from deb python-is-python3`

So by writing the command as, `python3 -m pip install -U dffml` the installation begins. #

My current python version on my machine is `Python 3.

[2021-02-22 10:34] mHash1m commented on #1007
Hey @aryanxk02, I just tried recreating your issue and I didn't get the same issue.
My guess is that your python alias is causing the issue.
Try the following command  to check your default python version `python --version`.
Also try creating an alias by `alias python=python3.8` and then checking the version and installing the package.
You can also make the alias permanent by pasting the above com

[2021-02-22 18:19] iamapickle commented on #994
#1000

[2021-02-22 18:25] kahanikaar commented on #957
I would like to contribute to this issue, will be grateful for guidance to approach this. @pdxjohnny

[2021-02-22 18:30] kahanikaar commented on #297
I would like to work on this issue, will be grateful for guidance to approach this. @pdxjohnny

[2021-02-23 11:18] rajpratyush commented on #968
@pdxjohnny I have experience of python and have some working experience of Automl as well (did a guided project on coursera - Automl for computer vision) Furthermore  I am currently a Kaggle contributor as well. can you provide some insights on how to begin working on this issue?

[2021-02-23 17:17] pdxjohnny commented on #960
Since we haven't seen a PR from @sidhu1012, per the community guidelines, yes this is up for grabs: https://intel.github.io/dffml/contributing/dev_community.html#who-s-working-on-what

[2021-02-24 04:22] sk-ip opened #1014 "docs: rubric page link not working"
Change the link of the `rubric` page here
- https://github.com/intel/dffml/blob/master/docs/contributing/gsoc/2021.md#deadlines
with
- https://intel.github.io/dffml/master/contributing/gsoc/rubric.html link

[2021-02-25 08:58] nitesh585 opened #1016 "docs: Add Sphinx-copybutton"
Add support of  [Sphinx-copybutthon](https://sphinx-copybutton.readthedocs.io/en/latest/). Which adds a little “copy” button to the right of the code blocks.

[2021-02-25 16:49] pdxjohnny opened #1017 "service: dev: docs: build: Convert scripts/docs.sh into dffml/service/dev.py CMD"
We just need to go through and convert the bash calls to Python or use subprocess where that doesn't make sense

[2021-02-25 23:35] #1002 closed

[2021-02-26 17:05] Pratikrocks commented on #983
@pdxjohnny do we require any `configs` for `xlxs` files part from `filename` `readwrite` `allowempty` ?
I made a rough implementtion for this issue but I kept only the bove 3 configs for the `xlxs` sources

[2021-02-26 17:26] pdxjohnny commented on #968
@TejasKarkera10 @rajpratyush Updated description

[2021-02-26 17:29] rajpratyush commented on #968
@pdxjohnny we can begin this phase by some basic linear regression followed by ridge and lasso regression then move to other type of algorithems and i would generally go with supervised learning algorithms first

[2021-02-26 17:41] pdxjohnny commented on #968
@rajpratyush How you choose to begin is up to you :)

Experimentation with approaches here would be wise. As it would create content which would inform ones proposal.

This issue will remain open for everyone to attempt until the GSoC proposal milestone.

[2021-02-26 17:57] pdxjohnny commented on #983
Sounds good to me. For future reference, a PR is an easier way to talk about this kind of stuff if you've already implemented it.

[2021-02-26 21:57] pdxjohnny commented on #992
Fixed in 4d8a10dc19ab562240b8567a3b173fc7f1b90f6a

[2021-02-26 21:57] #992 closed

[2021-02-27 01:30] Pratikrocks commented on #983
@pdxjohnny okay creating it shortly

[2021-02-27 05:04] Soumyajain29 commented on #29
Hi,
I am GSoC ' 2021 participant.
I'd love to contribute to this issue if it's still open. Are there any specific models you're looking to add? I am comfortable with python and PyTorch.
I am contributing for the very first time. I really appreciate any help/suggestion you can provide to get me started.

[2021-02-27 05:11] rajpratyush commented on #968
@pdxjohnny I would like to take it up as a project under GSoC 2021.

[2021-02-27 15:22] rajpratyush commented on #1016
@pdxjohnny can  I take up this issue ?

[2021-02-27 15:23] rajpratyush commented on #1017
can I take up this issue ? @pdxjohnny

[2021-02-27 15:25] rajpratyush commented on #1014
@pdxjohnny @sk-ip I would like to take up this issue as well?

[2021-03-01 22:07] pdxjohnny commented on #968
@rajpratyush Anyone may submit a proposal asking to work on this project during GSoC 2021.

See
- https://python-gsoc.org/students.html
- https://summerofcode.withgoogle.com/how-it-works/
- https://intel.github.io/dffml/master/contributing/gsoc/rubric.html
- https://github.com/intel/dffml/milestones?direction=desc&sort=due_date&state=open

[2021-03-01 23:56] kahanikaar commented on #297
Initial PR made. Do review. @pdxjohnny

[2021-03-02 00:24] pdxjohnny commented on #1017
@rajpratyush Please read the contribution guidlines https://intel.github.io/dffml/master/contributing/dev_community.html#who-s-working-on-what

[2021-03-02 01:53] rajpratyush commented on #968
Ok sir @pdxjohnny btw i had asked some issues to work on can you assign them?

[2021-03-03 19:09] Saanidhyavats commented on #1016
If no one is working on it can I start working on this issue?

[2021-03-04 15:21] rajpratyush commented on #1016
@pdxjohnny can you tell me where the conf.py is located ?

[2021-03-04 15:49] rajpratyush commented on #1014
@sk-ip @pdxjohnny can you tell me the location of the file?

[2021-03-04 17:20] sk-ip commented on #1014
@rajpratyush the location of the file is `dffml\docs\contributing\gsoc\2021.md`

[2021-03-04 17:23] rajpratyush commented on #984
@pdxjohnny I have tried renaming in my local branch but there was no pr generated . Can you assist me

[2021-03-05 15:02] rajpratyush commented on #1017
@pdxjohnny pushed the PR for the last issue working on few more and completed 2 more issues just will push the PR tomorrow.

[2021-03-05 15:05] rajpratyush commented on #963
@sk-ip Can you provide some guidance?

[2021-03-05 19:05] Saanidhyavats commented on #978
If no one is working on it then I am taking up this issue.

[2021-03-06 03:08] #978 closed

[2021-03-06 03:12] #1014 closed

[2021-03-06 04:22] pdxjohnny opened #1030 "scripts: docs: copybutton.js hash out of date"
`docs` build is failing due to `copybutton.js` having been updated, we need to update the hash in `scripts/docs.sh`.

This issue will be re-opened whenever `copybutton.js` is updated.

[2021-03-06 15:48] rajpratyush commented on #984
@pdxjohnny  doesn't it requires admin access??

[2021-03-07 00:11] pdxjohnny commented on #1016
@rajpratyush I see you found it :) but for future reference, here are two approaches:

1. `find . -type f -name conf.py`
2. `git ls-files | grep conf.py`

[2021-03-07 02:08] rajpratyush commented on #1016
Thanx for help @pdxjohnny. Can you tell me two things is anyone working renaming master branch to main and how to clear off previous commits from a new PR . I forgot this one.

[2021-03-07 04:14] rajpratyush commented on #1030
@pdxjohnny Can you explain me a little bite more?

[2021-03-07 17:04] pdxjohnny opened #1033 "model: autosklearn: CI failing due to timeout error"
See logs from 2021-03-06: [logs_2541.zip](https://github.com/intel/dffml/files/6143228/logs_2541.zip)

[2021-03-07 19:35] pdxjohnny commented on #1030
Sorry @rajpratyush, i forgot to close this

[2021-03-07 19:35] #1030 closed

[2021-03-07 19:38] pdxjohnny commented on #1016
@rajpratyush We really should keep discussion about specific issues within the comments of that issue. Or for general discussion, cross issue discussion, or anything else: https://gitter.im/dffml/community

You're looking for `git rebase` to remove / change commits on a branch.

And you can check the open PRs / the renaming master branch issue to see if anyone else is working on it

[2021-03-08 04:52] rajpratyush commented on #981
@sidhu1012 can you tell me where is the file that needs to be changed?

[2021-03-08 06:39] aryanxk02 commented on #970
@nitesh585 hello, where in the tutorial page is it mentioned on adding a new model in dffml module?

[2021-03-08 06:48] aryanxk02 commented on #970
okay got it @nitesh585

[2021-03-08 09:11] sidhu1012 commented on #981
.github/workflows/testing.yml

[2021-03-08 19:06] NikhilBartwal commented on #933
Hey @sakshamarora1 I would like to take this up!
I'm new to DFFML, so it would be great if you could tell me what are the other possible 'features' that any Record might have.
I was thinking we could simply print the dimentions and the dtype of the array-type features instead of printing the whole thing to increase readability.

[2021-03-09 13:07] sakshamarora1 commented on #933
@NikhilBartwal Hi, you should go through the [documentation](https://intel.github.io/dffml/master/) to get familiar with the project as you're new to DFFML. Also go through the API reference of `Feature` and `Record` classes.
A Record can have any datatype of feature, We should check whether a feature is array-like inside the `self.data.features` dict and print it in readable format.
I like the id

[2021-03-10 05:40] Saanidhyavats opened #1035 "Documentation Spelling Error"
## Spelling needs to be corrected
In package.rst file at line 127 `See the offical Python documeantion about` spelling of documentation needs to be corrected. The location of the file is _docs/tutorials/models/package.rst_

[2021-03-12 00:17] #867 closed

[2021-03-12 07:27] programmer290399 commented on #563
I would love to work on this issue , anything you'd like to add @pdxjohnny ? , since it has been a long time you opened this issue.

[2021-03-12 19:18] Pratikrocks commented on #833
@pdxjohnny do we require this feature now?
if so can I give it a try?

[2021-03-12 20:29] #1035 closed

[2021-03-13 18:50] Pratikrocks commented on #962
@rajpratyush your environment is not active

[2021-03-14 12:56] mHash1m commented on #960
If any one wants to work on this, feel free to do so.
Some useful resources to work on this issue:
[Meeting Minutes](https://docs.google.com/document/d/16u9Tev3O0CcUDe2nfikHmrO3Xnd4ASJ45myFgQLpvzM/edit)
[Recording of the discussion](https://www.youtube.com/watch?v=l7tjBiautyU&t=3s)
PS: The discussion is under 23rd Feb 2021

[2021-03-14 14:08] programmer290399 commented on #960
I would like to work on this issue.

[2021-03-15 02:34] pdxjohnny opened #1040 "ci: lint: commits: Add ci job to validate commit message format"
We need to add a new CI job under `lint:` within the `.github/workflows/testing.yml` to validate commit message formatting.

Add a new `CMD` class in `dffml/service/dev.py` (along with tests in `tests/service/test_dev.py`) to check that commit message titles match the format specified in https://intel.github.io/dffml/master/contributing/git.html#issue-and-pull-request-title-formatting

[2021-03-15 02:47] Pratikrocks commented on #1040
@pdxjohnny can I give a try?

[2021-03-15 03:40] pdxjohnny commented on #1040
@Pratikrocks Yes! Please see https://intel.github.io/dffml/master/contributing/dev_community.html#who-s-working-on-what. As a rule we don't ask if we can do something, we state our intention to try to do it, then follow those guidelines.

[2021-03-15 03:41] Pratikrocks commented on #1040
Okay @pdxjohnny 👍

[2021-03-15 03:54] pdxjohnny opened #1041 "shouldi: tests: rust: Cargo audit failure in response to master to main branch rename"
https://github.com/RustSec/cargo-audit/issues/331

[2021-03-15 05:06] pdxjohnny opened #1042 "docs: examples: mnist: Failure to download dataset"
Reported by @ichisadashioko

[code]

[code]

Server is down right now

[2021-03-15 05:26] #1042 closed

[2021-03-15 05:31] nitesh585 commented on #519
@pdxjohnny this is already covered in dffml_scikit_model as AgglomerativeClustering. I think no need to make separate model for that.

[2021-03-15 05:59] pdxjohnny commented on #968
@rajpratyush Unfortunately the way GitHub org permissions work there is no way for me to use the issue assignment functionality to assign issues users who are not a member of the org a repo is in, or are not added as collaborators. I also do not have permissions to add users as collaborators. But you've read the contributing guidelines since your last comment so you know how we communicate so as t

[2021-03-15 06:02] rajpratyush commented on #968
@pdxjohnny yes sir I have pushed few commits and there was needing guidance of 3 more issues so as to know where to begin with

[2021-03-15 10:24] nitesh585 commented on #1033
@pdxjohnny what is the actual error? I mean can you share the snippet of the error.

[2021-03-15 17:13] pdxjohnny commented on #1033
@nitesh585 I've attached the logs, it looks like the error went away 🤔 thanks for volunteering to look into it anyways though!

[2021-03-15 17:13] #1033 closed

[2021-03-17 03:05] Saanidhyavats commented on #960
@pdxjohnny if I am not wrong, I have to create a single `.py` file similar to one shown here https://intel.github.io/dffml/examples/or_covid_data_by_county.html in the model/orion directory?

[2021-03-17 03:20] Pratikrocks opened #1044 "sub: system: ___ should do ___"
The `fileDescriptor object` in the sources [ref](https://github.com/intel/dffml/blob/6690391f519fbcc9dc85ffa6767f822a2956421a/dffml/source/csv.py#L73) does not have a `name` attribute for `files` which are compressed as a result for future reference we might face an issue if we are supposed to use an external `api (like Openpyxl)` where we would require the `fd.name` attribute(as a string paramete

[2021-03-17 03:30] Pratikrocks opened #1046 "dffml:plugins github actions fails on adding a new plugin"

[2021-03-17 12:26] Pratikrocks commented on #967
@pdxjohnny link is broken

[2021-03-19 02:44] pranav-msc commented on #1046
Can you please exactly describe your error,like on running which command are you facing an error and upload screenshot of the same

[2021-03-19 03:13] Pratikrocks commented on #1046
Hi @pranav-msc for reference you can look https://github.com/intel/dffml/pull/1027/checks?check_run_id=2127448442#step:9:8100

[2021-03-20 08:02] programmer290399 commented on #1046
The test that is failing is ` test_all_plugins_have_pypi_tokens`, and this is because when you are creating a new plugin it has no token associated with it.

As you can see in the documentation [here]( https://intel.github.io/dffml/contributing/codebase.html#adding-a-new-plugin)  it says that after adding a plugin you need to open an issue to get that pypi token.

If the error persists after addin

[2021-03-21 12:29] Pratikrocks commented on #1046
Hi @programmer290399 I appended in `plugins` area hee https://github.com/intel/dffml/pull/1027/files#diff-2e2d435c7f3858b5b83b4f59a58b8b0669c95081f96cafe6254fc70aa24cea16R58 but still am getting this error

[2021-03-21 13:11] programmer290399 commented on #1046
Yes ,

So adding the plugin name to

* ` .github/workflows/testing.yml` will help you pass the test `test_all_plugins_being_tested`.
* `dffml/plugins.py` will help you pass the test `test_all_plugins_appear_in_dffml_plugins`

But there is a third test

`test_all_plugins_have_pypi_tokens` , which checks if your plugin has a pypi token or not ,

And as I mentioned above that pypi token would only be

[2021-03-21 13:14] Pratikrocks commented on #1046
no only those were failing

[2021-03-21 16:09] programmer290399 commented on #1046
Then I think it is not a bug , if @pdxjohnny  confirms this then we can close this issue , otherwise we can resolve it.

Also I think that when we create a plugin with `dffml service dev create` command , I think it should also add the plugin name and type in the above two lists automatically. Just a small enhancement ....

[2021-03-22 05:58] Saanidhyavats commented on #970
I want to contribute on this issue and will be creating a pr within 2 days.

[2021-03-23 14:55] pdxjohnny commented on #1046
We actually don't want this, we are going to move all the plugins out of the main source repo into the dffml org. We can discuss this in the meeting today

[2021-03-23 14:57] pdxjohnny opened #1050 "plugin: Move plugins to second party org"
@yashlamba is leading this effort

[2021-03-23 17:39] #563 closed

[2021-03-24 03:12] programmer290399 commented on #1046
As discussed in the weekly sync yesterday, I think we can close this issue @Pratikrocks.

For reference and more information :
* Weekly Sync 2021-03-23 @
    - [1:15:22](https://youtu.be/Gl7WQbl7Xz0?t=4505)
    - [0:56:45](https://youtu.be/Gl7WQbl7Xz0?t=3405)
* Weekly Sync Doc (See Housekeeping under Tuesday March 23rd 2021) [here](https://www.youtube.com/redirect?event=video_description&redir_tok

[2021-03-24 03:13] #1046 closed

[2021-03-24 20:07] #317 closed

[2021-03-25 00:29] pdxjohnny opened #1051 "util: asynctestcase: Make IntegrationCLITestCase AsyncTestCase"
We need to remove the `IntegrationCLITestCase` and `AsyncExitStackTestCase`
classes and merge them into the `AsyncTestCase` class.

The main issue here will be `self._stack` and `self._astack` which might be used
in other testcases.

`AsyncExitStackTestCase.setUp()` currenly creates them.

[code]

We need to find the test cases that might be issues. We're guessing that the
biggest issue with be ne

[2021-03-25 03:26] up1512001 commented on #662
I want to do this from gsoc. an intermediate level knowledge of python can do this ?

[2021-03-25 08:10] programmer290399 commented on #1017
I am picking this up. 🙂

[2021-03-25 23:49] pdxjohnny opened #1052 "df: types: Multiple inheritance with NamedTuple"
[code]

[2021-03-27 02:50] #297 closed

[2021-03-30 16:50] pdxjohnny opened #1055 "shouldi: tests: npm audit: Need to update vuln comparison to assertGreaterThan"
[code]

[2021-03-31 04:37] programmer290399 commented on #1040
I am picking this issue , would share the validation rules shortly.

[2021-03-31 05:03] programmer290399 opened #1056 "util : net : `cached_download` and derivatives should no longer be decorators"
* Use of `cached_download` and derivatives is difficult in certain situations  because they work as decorators.
     - For ex: We want to download and validate a file inside a function's body, so it may not be possible to pass the parameters required by `cached_download` when it is being used as a decorator as these parameters may be generated inside the function's body.
* Cached download  can be

[2021-03-31 18:22] pdxjohnny opened #1058 "util: net: cached_download(): Make logging only happen at most on 1% change"
The CI logs are flooded with `cached_download()` logging, we need to make sure progress log happens only on a full percentage point change. That way only a max of 100 lines are logged.

[2021-03-31 20:55] #1055 closed

[2021-04-01 05:01] programmer290399 commented on #1040
One question @pdxjohnny  : Would we be validating all the past commits as well or only the ones which would be made after this linting feature is merged and are not already in master ?

[2021-04-01 13:06] programmer290399 commented on #1058
I was thinking of this issue too when I saw the shouldi CI messages being flooded with download progress ..... I have a fix ready , would make a PR soon.

[2021-04-02 16:11] #1058 closed

[2021-04-03 08:23] elaineqing commented on #662
Hi, just wondering if this is still open for gsoc 2021? Thank you

[2021-04-04 09:43] Saanidhyavats opened #1068 "Implementation of k-fold technique"
## Pain Point

K-fold technique method is more robust as compared to other methods for measuring the accuracy of a model. For implementing the idea of Automl, this feature will be beneficial.

## Proposed Solution

What would make things behave most smoothly

[2021-04-04 09:45] Saanidhyavats commented on #1068
@pdxjohnny I am thinking to work on this. Shall I implement it from scratch?

[2021-04-06 08:58] mHash1m opened #1077 "model: scikit: scikit_base unable to import `dffml.util.crypto`"
[code]

[2021-04-06 17:32] programmer290399 opened #1078 "util : Add a common execution function based on `asyncio.create_subprocess_exec`"
## Pain Point

Many functions execute commands using the `asyncio.create_subprocess_exec` method and have a similar structure , this is causing duplication of similar functions at various places.

## Proposed Solution

Implement a generic function to execute commands using the `asyncio.create_subprocess_exec` method  which should probably go in `util/os.py` , it should support the most commonly us

[2021-04-06 23:46] #1007 closed

[2021-04-07 07:39] programmer290399 commented on #1077
Hey @mHash1m  !
can you share the steps to reproduce this error ?

[2021-04-08 01:08] #1017 closed

[2021-04-08 11:57] kaustubhgupta opened #1084 "docs: Typos in GSoC 2021 Contribution Guide"
While exploring the [dffml GSoC guide](https://intel.github.io/dffml/master/contributing/gsoc/2021/), I encountered some minor typos in the content. I can fix all of them.

Can any mentor/collaborator assign me this issue so that I can make the PR for the same?

[2021-04-08 12:49] mHash1m commented on #1077
Hey @programmer290399,
Try running the docs script `scripts/docs.sh` or using the `sklearnlr` model for that matter. Should occur with anything that's running the `scikit_base` afaik.

[2021-04-08 14:00] programmer290399 commented on #1084
Hey @kaustubhgupta  !

I am not a mentor but I guess I can answer your question.

Please see [Guidelines here](https://intel.github.io/dffml/master/contributing/dev_community.html#who-s-working-on-what) .

As a rule we don't ask if we can do something, we state our intention to try to do it, then follow those guidelines.

[2021-04-08 14:58] kaustubhgupta commented on #1084
Oh, okay. I am working on this issue.

[2021-04-08 19:25] pdxjohnny opened #1086 "docs: examples: EKG Analysis"
It seems like EKG analysis would be a good use of a machine learning model. We should look into this as an example

[2021-04-09 02:59] programmer290399 commented on #1077
Is this bug only in the Python API ?

Would [this](https://intel.github.io/dffml/master/quickstart/model.html?highlight=scikitlr#python) be a good example to reproduce this error ?

But this runs fine on the current master .

[2021-04-09 03:04] programmer290399 commented on #1077
Looks like you're using a `conda env` , in that case are you using `conda develop` or `pip install -e` for working in the development mode ?

After  issue #1017  was closed , we no longer have a `docs.sh` script and the `dffml service dev docs` command seems to be working fine on my side.

[2021-04-09 03:07] programmer290399 commented on #1078
I am working on this issue , would make a PR soon .....

[2021-04-09 16:17] programmer290399 opened #1088 "util : log : Need a decorator which logs the Runtime of the function it wraps."
## Pain Point

Currently , to measure the performance or to make sure if a function/co-routine has not become significantly slower , there's no debug logging utility that can measure the runtime of a function.

## Proposed Solution

Implement decorator to measure the time of the wrapped function/co-routine in `util/log.py`

[2021-04-09 20:24] Saanidhyavats opened #1089 "Implementation of a function to compare the accuracy of different models"
The function will compare the accuracy of different models or model with different hyperparameters and will return the model with the highest accuracy along with the details of its hyperparameters. This will be beneficial for implementing the idea of AutoML.

[2021-04-12 12:52] mHash1m commented on #1077
@programmer290399 sorry for the late reply. You're right, it didn't pop up after pulling the master. I suppose it got fixed.

[2021-04-12 12:52] #1077 closed

[2021-04-13 16:46] programmer290399 opened #1093 "docs : API reference : heading is not there and all of it's contents are outside"
## Describe the bug

The API reference heading is gone from the master docs and all it's content are there in the main tree

## Steps To Reproduce

Take a look at the [master docs](https://intel.github.io/dffml/master/index.html) and [last release docs](https://intel.github.io/dffml/index.html)

## Expected behavior

Both docs should have same structure.

## Screenshots
### Last release docs:
![la

[2021-04-13 17:01] pdxjohnny opened #1094 "util: config: Function to make numpy style docstring from config class"
See recording from 2021-04-13 (TODO, link)

[2021-04-14 03:49] programmer290399 commented on #1088
I am working on a PR , for this issue

[2021-04-14 06:24] programmer290399 commented on #1078
I am working on this issue 🙂

[2021-04-15 15:16] pdxjohnny opened #1102 "security: Rotate secrets"
Something bad happened!?: OOOOOOOOHHHH ya
- https://about.codecov.io/security-update/

We strongly recommend affected users immediately re-roll all of their credentials, tokens, or keys located in the environment variables in their CI processes that used one of Codecov’s Bash Uploaders.

I'm pretty sure we use the Python uploader, but I'm not willing to take any chances

[2021-04-16 18:42] pdxjohnny opened #1103 "util: testing: consoletest: Split out into own package"
https://www.sphinx-doc.org/en/master/usage/extensions/index.html#third-party-extensions

[2021-04-16 22:52] pdxjohnny opened #1104 "model: daal4py: Update scikit learn patching"
[code]

[2021-04-18 05:01] programmer290399 commented on #1104
Why don't we make this a  configuration option in scikit models itself ?

for ex: We can have a boolean config option , in  `ScikitConfig`, like `patch_scikit`, which when set to `True` ,  would patch the scikit API with `sklearnex` and otherwise wouldn't.

and deprecate and later remove daal4py ?

[2021-04-19 00:07] SmirnovEgorRu commented on #1104
If you need any help with transition to Intel Extension for Scikit-learn - let me know :)

[2021-04-27 17:10] #1056 closed

[2021-04-27 17:42] pdxjohnny opened #1106 "df: memory: Log warning when trying to run a dataflow without an output operation"

[2021-05-01 06:48] Saanidhyavats opened #1107 "Minor_correction"
In file `model/model.py` at line number 73 spelling of implemented needs to be corrected. Those who are new to this community and want to contribute can work on this issue.

[2021-05-06 17:06] mHash1m opened #1108 "tests: examples: shouldi: `urllib.error.HTTPError: HTTP Error 403: Forbidden`"
The shouldi tests are failing probably because urllib is being blocked during the `cached_download()` call.

[code]
This [thread at SO](https://stackoverflow.com/questions/16627227/http-error-403-in-python-3-web-scraping) might be useful.

[2021-05-07 21:39] pdxjohnny commented on #36
mypy plugin docs might be useful whenever we get to this: https://mypy.readthedocs.io/en/stable/extending_mypy.html?highlight=plugin#extending-mypy-using-plugins

[2021-05-07 23:48] pdxjohnny opened #1109 "model: scikit: Replace is with == for literal comparisons"
[code]

[2021-05-08 04:39] himanshu007-creator commented on #1109
I would like to work on this issue

[2021-05-08 12:38] Dripsama commented on #1109
I would like to work on this

[2021-05-09 06:36] himanshu007-creator commented on #1109
I hope it's first come, first serve🙂

[2021-05-10 14:37] #1108 closed

[2021-05-10 14:42] #1052 closed

[2021-05-10 15:25] pdxjohnny commented on #1078
Here is a related patch to this issue. It streams output lines of a subprocess to a logger: https://github.com/intel/dffml/commit/87ca4a39902929102e83b596968324ec3eeda07a

[2021-05-10 16:05] pdxjohnny opened #1111 "high level: merge(): Implement merge as high level function"
## Pain Point

What is it that isn't as good as it could be

## Proposed Solution

What would make things behave most smoothly

[2021-05-11 16:57] johnandersen777 opened #1112 "high level: Make sure context can be kept open"
https://github.com/intel/dffml/blob/5270c614ff1d494abd6e584f4a6d193a3f76991d/dffml/high_level.py#L402-L404

https://github.com/intel/dffml/blob/5270c614ff1d494abd6e584f4a6d193a3f76991d/dffml/high_level.py#L466-L468

https://github.com/intel/dffml/blob/5270c614ff1d494abd6e584f4a6d193a3f76991d/dffml/high_level.py#L536-L538

[2021-05-13 16:39] yashlamba opened #1113 "arch: plugins: move plugins to DFFML org"
Some points discussed on 13/05/21

## Moving Forward:
1. Make plugins list for 1st, 2nd and 3rd party plugins.
2. Add them to a JSON file in dffml/dffml/plugins.json
    - Plugins by levels.
    - Link to repo.
    - ~~Tutorials linked~~/fetch from the tutorials.
3. Modify scripts in DFFML.
4. Move scikit-learn to dffml-org (1st Party Plugin):
    - Write Generic CI for plugins.
        - Run test

[2021-05-13 20:07] pdxjohnny commented on #1050
Closed in favor of #1113

[2021-05-13 20:07] #1050 closed

[2021-05-13 20:15] pdxjohnny opened #1114 "docs: examples: swportal: Entirely static site"
Changes to dataflows, operations, yaml files, trigger rebuild and redeploy of entirely static site. This way the entire build could be contained within GitHub actions.

- https://docs.github.com/en/actions/reference/events-that-trigger-workflows#repository_dispatch
- https://docs.github.com/en/rest/reference/repos#create-a-repository-dispatch-event

[2021-05-14 21:27] #1109 closed

[2021-05-17 20:15] mHash1m commented on #1093
I'll work on this.

[2021-05-20 09:01] mHash1m commented on #1068
Will the conclusion of this issue include something like [`cross_val_score`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html#sklearn-model-selection-cross-val-score)? Maybe returning accuracy for all the folds?

[2021-05-20 12:21] mHash1m commented on #1093
@programmer290399 it seems like the script is somehow removing the title from `docs/api/index.rst` which is in turn causing this issue. Do you think something in #1054 might have caused it? Since `docs/api/index.rst` is gitignored, I'm not sure how to track it. lol

[2021-05-20 13:27] Patil2099 commented on #960
@pdxjohnny  Is this still open? I would love to solve it. Is this the process I have to follow? https://github.com/intel/dffml/issues/960#issuecomment-777979005

[2021-05-21 06:09] mHash1m opened #1117 "model: Implement GridSearchCV"
Would be great to have grid search for hyper parameter tuning in dffml.
Something along the lines of [`sklearn.model_selection.GridSearchCV`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html#sklearn.model_selection.GridSearchCV)

[2021-05-22 02:16] programmer290399 commented on #1093
one way to check could be to reset the head to a commit before #1054  was merged and use the docs.sh to build the docs and compare it with the current master ....... I will also look into it , thanks for pointing out

[2021-05-25 14:10] mHash1m opened #1119 "dffml: model: model.py: `disk_path()` contains unused code and docstring doesn't match."
The following function contains unused code except for the return statement. The docstrings don't match either.

https://github.com/intel/dffml/blob/16509b0426b7e707fafa77613e2b78335c24fa82/dffml/model/model.py#L171-L187

Instead of removing the docstring I suppose we should implement(or reimplement) this. To be discussed further in a sync-up meeting.

[2021-05-25 17:11] sk-ip opened #1120 "docs: unable to build the docs."
## Describe the bug
Unable to build the documentation
## Steps To Reproduce
https://intel.github.io/dffml/master/contributing/docs.html
## Expected behavior
a directory pages should be generated.
## Logs or Screenshots

[code]

[2021-05-25 17:28] pdxjohnny commented on #1120
It looks like `dffml` was installed without the `-e` flag to `pip`

[2021-05-25 17:29] pdxjohnny commented on #1120
Let's try uninstalling dffml and reinstalling with `-e`

[code]

[2021-05-25 17:31] #938 closed

[2021-05-25 17:31] pdxjohnny opened #1121 "service: dev: pindeps: Remove command"
We don't need this code anymore

[2021-05-26 06:40] sk-ip commented on #1120
Installed dffml using `-e` flag, it is showing the following error. I also find that sphinx was installed, using `pip list`
[code]

[2021-05-26 21:11] pdxjohnny commented on #1120
[code]

Looks like you don't have the other plugins installed. Ideally you wouldn't need them.. However, that the way its currently setup is the docs need all the plugins installed to be built.

Ideally we can get around this when we implement 2ndparty plugins.

[2021-05-26 21:11] pdxjohnny commented on #1120
Labeling with 2ndparty to make sure we take a look at this for the implementation of that

[2021-05-31 04:50] #1084 closed

[2021-06-04 15:23] sk-ip commented on #733
Following documentation needs to be updated. when this is done.
1. https://intel.github.io/dffml/examples/flower17/flower17_scikit.html

[2021-06-08 14:31] pdxjohnny opened #1125 "df: types: NamedTuple._field_types removed in 3.9"
[code]

[2021-06-09 03:25] programmer290399 commented on #1120
* I had this same issue of building docs in dev mode , looks like recent changes and additions to the documentation has caused this , you can check my error below :
[code]

* According to this ⬆️ , pandoc is not installed but it is installed in the env :
[code]

[2021-06-09 20:47] #1121 closed

[2021-06-12 17:58] praneethratna commented on #841
@pdxjohnny Hi , I'm new to open source contribution and if this is a good first issue could this be assigned to me as i would like to work on it?

[2021-06-12 18:58] praneethratna commented on #994
@pdxjohnny Hi , I'm new to open source contribution and if this is a good first issue could this be assigned to me as i would like to work on it?

[2021-06-15 16:34] pdxjohnny opened #1129 "ci: windows: Failing tests do not cause CI job to fail"
https://github.com/intel/dffml/pull/1124/checks?check_run_id=2776720820

[logs_2968.zip](https://github.com/intel/dffml/files/6657240/logs_2968.zip)

[2021-06-15 16:39] pdxjohnny commented on #36
Might be able to use this to validate type hints at runtime: https://pydantic-docs.helpmanual.io/

[2021-06-15 16:51] pdxjohnny opened #1130 "tests: docs: consoletest: Not sure if NO_SETUP .rst files are being tested"
Related: #1112

[2021-06-15 16:58] pdxjohnny opened #1131 "plugin: accuracy: scikit: Should we split out scikit accuracy scorers from models?"
See 2021-06-15 meeting minutes: https://docs.google.com/document/d/16u9Tev3O0CcUDe2nfikHmrO3Xnd4ASJ45myFgQLpvzM/edit#heading=h.uiu53zd8h957

[2021-06-15 16:58] pdxjohnny commented on #1131
These scorers could be used with non-scikit models, so they might want to be in their own package at some point.

Because we are actively going through the 2ndparty transition. Let’s not create another plugin at the moment. We might want to do this later.

[2021-06-18 16:42] pdxjohnny opened #1133 "tests: Check that all directories with Python files have an __init__.py"

[2021-06-22 06:13] deepakdinesh1123 commented on #1133
under which tests should it be added?

[2021-06-22 16:55] pdxjohnny opened #1135 "util: testing: asynctestcase: Uses on OSX with child watcher"
[code]

[2021-06-22 17:14] programmer290399 opened #1136 "service : dev : Enhance commit message linting"
* See https://github.com/intel/dffml/pull/1076#issuecomment-864556863 for full details
* Related Issue #1040

- [ ] 1.  All commits starting with `test` shouldn't contain any `test_`  in the rest of the parts
  - Implement a new mutation which is only triggered when the commit starts with `test`
- [ ] 2. Substitutions are required for certain cases , where a word should translate to a path
  - Add

[2021-06-23 14:52] pdxjohnny opened #1137 "model: autosklearn: Failure do to incompatible transient dependency version"
References:
- https://github.com/automl/auto-sklearn/issues/1162

[2021-06-24 16:15] pdxjohnny opened #1139 "docs: arch: Find a way to tie TODOs from ADRs to GitHub issues"

[2021-06-29 16:41] pdxjohnny opened #1141 "model: xgboost: Requires libomp on OSX"
We need to document this on install, maybe other places

[2021-06-29 21:04] pdxjohnny opened #1143 "model: Expose more information"
We know we need to expose the following before stable API release:\n- Model type\n  - Classifier, Regressor, Cluster, NLP, etc. Need to enumerate all these we have right now\n- Model trained status. Boolean value which we need to know before attempted to assess accuracy or prediction

[2021-06-30 09:28] programmer290399 opened #1145 "operation : archive & compression : Add support for I/O though streams"
## Pain Point

Currently, the I/O in these operations is purely file based, it would be better and also more in line with long term goals of the project to support streams as well.

## Proposed Solution

https://docs.python.org/3/library/asyncio-stream.html#asyncio-tcp-echo-client-streams

* For archives, if you go with streams
    - Accept streams for the archive to unpack and the stream to pack

[2021-07-01 16:01] sakshamarora1 opened #1147 "model: pytorch: pretrained: Add Python API support for defining the last layers when using the pre-trained Models"
We are assuming that the layers will be a nested dictionary of layers and its parameters which we convert into PyTorch layers using the `create_layer` function.

https://github.com/intel/dffml/blob/5edb093780f8ae9c76f34336f188482d9efc70d2/model/pytorch/dffml_model_pytorch/pytorch_pretrained.py#L63-L66

We need to implement it such that if `self.config.layers` is of type `nn.Sequential` or (`nn.Mod

[2021-07-04 10:26] rajpratyush commented on #1133
@pdxjohnny can i take up this issue?

[2021-07-06 17:03] pdxjohnny opened #1150 "base: convert_value(): Support for typing.Any"

[2021-07-06 17:56] pdxjohnny opened #1152 "model: pytorch: Failure do to numpy Pillow incompatability"
[code]

References:
- https://github.com/intel/dffml/pull/1127/checks?check_run_id=2974016208

Fix is in #1148

[2021-07-06 18:59] pdxjohnny opened #1153 "util: testing: Validate that all plugins of each type appear are registered as entrypoints"
Inspect all objects in a module and and entry_points.txt for that package. Fail
test if a class was defined but not registered

[2021-07-07 00:13] jayU-makes commented on #1107
Hi, I wanted to start contributing here so I fixed this easy one first. #1154

[2021-07-07 17:47] #1147 closed

[2021-07-07 17:47] #1152 closed

[2021-07-08 19:51] jayU-makes commented on #1106
Can I work on this?

[2021-07-08 22:21] pdxjohnny commented on #1133
@rajpratyush Yes, see https://intel.github.io/dffml/contributing/dev_community.html#who-s-working-on-what

[2021-07-09 02:18] programmer290399 commented on #662
[Related Comment from PR#1128](https://github.com/intel/dffml/pull/1128#discussion_r652835527)

[2021-07-09 16:53] jayU-makes commented on #1153
Hi, can I take this? I see a testing folder inside ./dffml/util/ but I am not sure what file to look at to fix this @pdxjohnny.

[2021-07-12 19:46] jayU-makes commented on #1153
I am working on this now.

[2021-07-13 16:48] pdxjohnny opened #1156 "model: Implement Model.create() classmethod"
[code]

We should implement the `create` classmethod, which takes the model entrypoint
as it's first argument, and then either the config for the model as the second
argument or keyword arguments will be passed to the model's __init__ in absence
of a second postiaional argument.

[code]

[2021-07-13 17:00] pdxjohnny opened #1157 "model: pytorch: More detailed pre-trained model trainable help message"
The help message for the `trainable` parameter could use help.

@mHash1m transfer learning tutorial has a good explaination we could use

[code]

[2021-07-13 17:20] pdxjohnny opened #1158 "source: dir: Need example usage and documenation"
Ping @sakshamarora1

[2021-07-13 18:17] pdxjohnny opened #1159 "operation: archive: Opeations need an output"
Operations need an output, so completion can trigger other operations

We need to make sure the definition name is not the same as the output filename input definition name.

[2021-07-13 18:17] pdxjohnny opened #1160 "operation: compression: Opeations need an output"
Operations need an output, so completion can trigger other operations

We need to make sure the definition name is not the same as the output filename input definition name.

[2021-07-14 17:16] #1159 closed

[2021-07-14 17:16] #1160 closed

[2021-07-14 19:28] pdxjohnny opened #1162 "df: openapi: Implement OpenAPI OperationImplementationNetwork"

[2021-07-14 19:28] pdxjohnny opened #1163 "df: subprocess: Implement subprocess based OperationImplementationNetwork"

[2021-07-14 21:09] pdxjohnny commented on #1163
Here's what I've got so far

[code]

[code]

[2021-07-15 00:27] pdxjohnny opened #1164 "docs: examples: ML assisted GUI testcase execution"

[2021-07-15 00:29] pdxjohnny commented on #1164
operation yielding video frames, operation to filter out changes such as clock, model to decide what to do, state machine?

[2021-07-15 10:57] programmer290399 commented on #662
Related discussion from [Weekly Sync 2021-07-13](https://youtu.be/B10Cqh1CTN0?t=6697)

[2021-07-15 14:22] pdxjohnny commented on #1153
Looking through code of the main package, classes decorated with `@base_entry_point` have their `ENTRYPOINT` class variable set to values present in `setup.py` / `setup.cfg` / `entry_points.txt` files. We want to find objects / classes with `ENTRYPOINT` set and ensure they have a corresponding line in `entry_points.txt` (just check this for now, I believe it's ConfigParser / `.ini` format). We'll

[2021-07-17 01:08] pdxjohnny opened #1166 "docs: examples: ice cream sales: Test takes forever processing lookup_temperature each time"
operation is too slow in CI, test is frequently taking hours. We need to speed it up somehow, less cities for sure, probably also imp_enter and ctx_enter for @op

[2021-07-17 01:10] pdxjohnny opened #1167 "util: net: download: Only logging on first download"
We the way the filtering is setup means that only one call to cached_download results in logging, not every single time it is called, we need some kind of context for the progress bar percent filtering

[2021-07-17 01:10] pdxjohnny commented on #1167
ping @programmer290399

[2021-07-17 01:10] pdxjohnny commented on #1166
ping @sk-ip

[2021-07-17 01:17] pdxjohnny commented on #1129
[logs_5c1d437_2021_07_16_windows_tests_failing.zip](https://github.com/intel/dffml/files/6833923/logs_5c1d437_2021_07_16_windows_tests_failing.zip)

Since the windows test aren't passing anyway and not reporting as failing we've taken them out for a while. @yashlamba is planning on working on windows support soon, hopefully he'll be able to figure out what's going on and fix it.

Taking out becaus

[2021-07-17 01:18] pdxjohnny commented on #1129
<details>
<summary>Windows tests failing in CI before disable CI job</summary>

[code]

</details>

[2021-07-17 02:20] pdxjohnny opened #1168 "source: dataframe: Expose read_ and to_ functionality of pandas.DataFrame"
We should use `make_config_inspect()` to create configs for each `read_` and
`to_` method of pandas.DataFrame. This would allow us to push and pull data from
all the sources pandas can.

References:
- https://github.com/pandas-dev/pandas/blob/v1.3.0/pandas/io/html.py#L937-L1114
- https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html
- https://pandas.pydata.org/pandas-docs/stable/referenc

[2021-07-17 02:22] pdxjohnny commented on #1168
Don't forget that you should check if you can import pandas first, because
pandas support is optional, we will not add it to our requirements, we only
dynamically create plugins (similar to how PyTorch works) if pandas can be
imported.

[2021-07-17 02:36] pdxjohnny commented on #1168
Make sure to use `dffml.util.net.validate_protocol()` on anything that is a URL!!! Ask for help on this if needed once you have plugins done

[2021-07-17 04:25] pdxjohnny commented on #925
Closed via 1ef5a169327d71baecd5eccae83ad4a9999ccad1

[2021-07-17 04:25] #925 closed

[2021-07-17 05:49] programmer290399 opened #1169 "setup.py: test: Local tests failing to run altogether"
## Describe the bug

Trying to run all local tests results in error.

## Steps To Reproduce
Just ran the following command,

[code]

## Expected behavior

All the tests should run resulting in a list of failed or passed tets

## Logs or Screenshots

[code]

## Packages in use and versions
[code]

## Misc Notes

Looks like a minor issue which was caused by recent merge of Accuracy scorers , maybe @

[2021-07-17 07:53] sk-ip commented on #1169
So with the recent merge that happened, for testing we have started using

[code]
ref: https://intel.github.io/dffml/master/contributing/testing.html#testing

[2021-07-17 07:58] #1169 closed

[2021-07-18 14:18] programmer290399 opened #1170 "high_level: Move code into a directory and splitting out into files."
## Pain Point

It is currently not possible to import some high-level functionalities in other core parts of dffml like `model.py`  due to formation of circular import chains.

Which blocks implementation of archive support for  #662

### References
* https://github.com/intel/dffml/pull/1155#discussion_r667428972
* [Weekly Sync 2021-07-13@45:46](https://youtu.be/B10Cqh1CTN0?t=2746)

## Proposed So

[2021-07-19 03:14] yashlamba commented on #1129
This is weird, I'll take a look and update soon.

[2021-07-19 03:27] programmer290399 commented on #1170
ping @pdxjohnny

[2021-07-19 03:34] pdxjohnny commented on #1164
- Demo of web UI to create a data flow
- Execute the data flow we created
  - Data flow is ML assisted testcase of Xeon platforms
- Dive into how it works behind the scenes
  - Explain what operations are (building blocks of Data Flows), how can we implement them
  - How can we use ML operations in Data Flows (or without Data Flows) for inference
- Show people how they can train models
  - Show ho

[2021-07-19 05:18] jayU-makes commented on #1153
still working on this.

[2021-07-19 05:42] programmer290399 commented on #1167
maybe we need to reset the duplication filter or manipulate it to get empty when all the 100 logs of the progress bar are in it , looking into it 🙂

[2021-07-19 19:35] pdxjohnny commented on #1170
Let's get that helper function out of there. Otherwise looks great!

[code]

[2021-07-24 16:54] #1170 closed

[2021-07-26 02:09] jayU-makes commented on #1153
still working on this.

[2021-07-26 10:00] programmer290399 commented on #1153
@jayU-makes you can always make a [Work In Progress PR](https://intel.github.io/dffml/master/contributing/git.html?highlight=wip#submitting-a-pull-request) and receive feedback on your work to make sure that you're on the same page with everyone else.

[2021-07-27 16:24] pdxjohnny opened #1176 "tests: notebooks: Do not run notebooks as a part of main test suite"
Let us have them be run similiarly to consoletests for .rst docs (see .github/workflows/testing.yml:tutorials). Quick testcase iteration is important for main test suite

[2021-07-27 16:24] pdxjohnny commented on #1176
.ci/run.sh-  "${PYTHON}" -m unittest discover -v
.ci/run.sh-  cd "${SRC_ROOT}/${PLUGIN}"
.ci/run.sh-}
.ci/run.sh-
.ci/run.sh-test_no_skips() {
.ci/run.sh-  # Log skipped tests to file
.ci/run.sh-  check_skips="$(mktemp)"
.ci/run.sh-  TEMP_DIRS+=("${check_skips}")
.ci/run.sh-
.ci/run.sh-  # Run with coverage
.ci/run.sh:  RUN_CONSOLETESTS=1 "${PYTHON}" -u -m coverage run -m unittest discover -v 2>&1

[2021-07-27 16:29] pdxjohnny commented on #1176
Let us put them all under one CI job, rather than splitting each out as we did with the consoletests

[2021-07-27 16:37] #1040 closed

[2021-07-27 16:38] #1088 closed

[2021-07-28 03:03] pdxjohnny commented on #836
Related: #919

[2021-07-28 03:03] pdxjohnny commented on #836
This also relates to "telemetry" of data flows

[2021-07-28 20:22] #733 closed

[2021-07-28 22:58] pdxjohnny opened #1178 "service: dev: create: setuptools_scm requires git repo to be initialized"
Introduced in 438a00dfd5c148ac956fabc03de3eed1b6bb7505

[2021-07-29 18:30] pdxjohnny opened #1179 "docs: conf: html theme: Evaluate sphinx_material"
FastAPI and others use a similar theme

[2021-07-29 18:43] pdxjohnny commented on #1179
[code]

[2021-07-29 18:48] pdxjohnny commented on #1179
![image](https://user-images.githubusercontent.com/5950433/127548906-47fd3c95-9c6f-46e1-936e-74fd8ffb9749.png)

Note, there is no left sidebar, which is concerning

[2021-07-30 20:15] mHash1m opened #1180 "accuracy: `AccuracyScorer.load()` doesn't recognize scikit scorer entrypoints."
I'd imagine we would want this behaviour of dynamic loading for scikit scorers as well otherwise things might get confusing

![Screenshot from 2021-07-31 01-07-00](https://user-images.githubusercontent.com/58783659/127707032-284c9409-5e01-4276-8a71-700282e53f81.png)

[2021-07-31 16:25] mHash1m commented on #1179
@pdxjohnny We liked this theme by "Executable Group Project" and I remember finding it but I forgot to share or followup on it.
I think this one is quite attractive and fulfills our needs.

![image](https://user-images.githubusercontent.com/58783659/127746104-8dc9eb54-2f12-419f-9a68-26ff881942e5.png)

Might be a good idea to post some other options and have an emoji vote here :smile:

[2021-07-31 18:06] mHash1m opened #1181 "accuracy: Rename high level accuracy() to score()"
## Pain Point

As of the recent merges, the high-level `accuracy()` function returns scores w.r.t different scorers selected. These could also be a resultant value of error.
Accuracy generally follows the phenomenon of "greater is better" but that is no longer the case here.
This could possibly be confusing for new users.

## Proposed Solution

Change `accuracy()` to something like `score()` or `e

[2021-07-31 20:43] pdxjohnny commented on #1180
Did you re-run the install on `model/scikit`?

[code]

[2021-07-31 20:56] pdxjohnny commented on #1181
Let's discuss this in the meeting, I think this might make sense.

[2021-07-31 20:57] mHash1m commented on #1180
@pdxjohnny this one always gets me. Thank you!

[2021-07-31 20:57] #1180 closed

[2021-07-31 20:59] pdxjohnny commented on #1180
Right! Me too, we could consider doing something like `cve-bin-tool` does and re-running `python setup.py egg_info` on `Entrypoint.load` if we're in development mode

[2021-07-31 21:35] mHash1m commented on #1180
Yeah, that makes sense!

[2021-08-03 15:26] pdxjohnny opened #1182 "cli: dataflow: run: Allow non-existant source"
[code]

[2021-08-03 15:44] pdxjohnny commented on #33
![image](https://user-images.githubusercontent.com/5950433/128045522-54b3193c-826b-48aa-b82e-96306831d595.png)

[2021-08-04 05:40] pdxjohnny opened #1184 "high level: More Pythonic intermediate form of running a data flow"
Similar to `dffml.util.proc.concurrently()` usage to log stdout/err.

Add #919 first, then do if statement in body of concurrently loop instead of `get_inputs()/get_operations()` from df.networks. Help tie together concurrently concept into dataflows.

[2021-08-04 08:39] pdxjohnny opened #1185 "docs: examples: webhook: Automate webhook settings configure for repo"
https://pygithub.readthedocs.io/en/latest/examples/Webhook.html

[2021-08-04 21:15] pdxjohnny opened #1187 "docs: conf: extensions: Enable mermaid diagram extension"
[code]

[2021-08-04 21:16] pdxjohnny commented on #1187
Blocked by https://github.com/mgaitan/sphinxcontrib-mermaid/issues/74

[2021-08-10 16:03] johnandersen777 opened #1188 "community: Post meetup in devmesh"
https://devmesh.intel.com/dashboard/events/new

[2021-08-10 16:39] #732 closed

[2021-08-12 07:13] programmer290399 commented on #1136
- [ ] Investigate why [this](https://github.com/intel/dffml/pull/1174/checks?check_run_id=3308979214) is failing and fix it, related to 1. above

[2021-08-13 17:13] programmer290399 opened #1190 "ci: linting: Use autoflake to remove unused imports"
## Pain Point

A lot of files currently have a ton of unused imports and such imports are added every now and then.

## Proposed Solution

We can use [autoflake](https://github.com/myint/autoflake) or any similar tool to automatically handle this.
Proposed solution from @pdxjohnny : https://github.com/intel/dffml/pull/1209#issuecomment-906616825

[2021-08-14 21:13] mHash1m opened #1191 "docs: models: Figure out a way to highlight mutable parameters"
Since only selective hyperparameters (that have been exclusively set mutable) will be mutable, we should let users know somehow which ones are.

[2021-08-17 16:56] pdxjohnny opened #1193 "docs: publications: PDFs not showing from /master/ docs"

[2021-08-17 16:57] mHash1m opened #1194 "optimizer: parameter_grid: Add tests and examples."
For reference, see this [use-case example notebook](https://intel.github.io/dffml/master/examples/notebooks/tuning_models.html)

[2021-08-17 19:44] pdxjohnny commented on #1191
Related #1094

[2021-08-18 11:24] yopknopixx commented on #983
Hello, is this issue resolved? If not I would like to work on this.

[2021-08-19 15:39] programmer290399 opened #1196 "model: autosklearn: Fails in retraining a saved model"
## Describe the bug

A loaded model cannot be retrained currently, maybe it is a bug.

## Steps To Reproduce

Ran the `model/autosklearn/examples/autoregressor.py` twice in a row,
so the first run saved a model and the second run loaded it in memory.
[code]

## Expected behavior

The second model which has been loaded from the disk should retrain without breaking.

## Logs or Screenshots

[code]

[2021-08-19 23:08] pdxjohnny opened #1197 "df: operations: consoletest based"
inputs become environment variables

[2021-08-19 23:18] pdxjohnny commented on #1184
Was fucking around with some code on personal windows computer (this is my reminder to upload here) based on concurrently

[2021-08-20 06:46] programmer290399 opened #1198 "operation: archive: Directory structure not preserved while creating a zip/tar archive of a directory"
## Describe the bug

While creating an archive the directory structure is not preserved.

## Steps To Reproduce

Try archiving any directory or use following example.

<details><summary>Example by @pdxjohnny </summary>
<p>

[code]

</p>
</details>

## Expected behavior

For ex if we try to archive a directory with the following structure:
[code]

We expect to have the same structure inside the arc

[2021-08-20 06:48] programmer290399 commented on #1198
Working on a fix, would make a PR asap.

[2021-08-21 12:44] GouravWadhwa commented on #999
Hi @pdxjohnny, if no one is working on this issue, I would like to work on it. As I am new to open source it would be great if you can guide me too.

[2021-08-21 17:13] mHash1m opened #1200 "optimizer: change plugin name"
## Pain Point

While it is a good name, it can be easily confused with optimisation algorithms used by different machine learning libraries to train a model. These optimisation algorithms are low-level implementations responsible of reducing loss in a model and are nothing close to hyper parameter tuning.

## Proposed Solution

A different name that would be suggestive of tuning characteristics. P

[2021-08-22 23:01] pdxjohnny commented on #1200
In agreement with `tuner`

[2021-08-22 23:41] #662 closed

[2021-08-22 23:41] #1198 closed

[2021-08-24 16:15] pdxjohnny opened #1202 "util: cmd: Async write to stdout"
[code]

[2021-08-24 16:21] pdxjohnny opened #1203 "ci: run: consoletest: Hang on exit creates timeout failure"
Had a similar issue with commit linting where a git command failed from a
subprocess run, causing the CI the hang until the job as canceled.

https://github.com/intel/dffml/runs/3395514117

[code]

[2021-08-24 17:39] pdxjohnny opened #1204 "util: testing: consoletest: Make it easier to run during development of docs"
We should add the ability to skip running the venv creation, we should add the ability to not run in a tempdir and instead run in a predefined directory

[2021-08-31 16:03] programmer290399 commented on #1203
Ran this test locally with :
` $ TEST_DOCS=1 python3 -m unittest -v tests.docs.test_consoletest.TestDocs.test_examples_swportal`
and it fails almost immediately in less than 20s , I wonder why its stuck for so many hours  in the CI 🤔

[2021-08-31 16:20] #1190 closed

[2021-08-31 16:27] pdxjohnny opened #1215 "community: Logo"
We need a logo!

# Vote: https://strawpoll.com/whu887f89

Let's shoot for SVG format. Ideally with design files as well.

[2021-08-31 17:06] #599 closed

[2021-09-01 06:45] programmer290399 commented on #1181
I think I can pick this up if no one else is working on it , @mHash1m  are you working on this ?

[2021-09-01 08:12] mHash1m commented on #1181
@programmer290399 sure! I didn't get to this one yet.

[2021-09-01 17:57] pdxjohnny opened #1217 "community: Scale"
References:

- https://www.mynameisjehad.com/designing-a-scalable-design-organization/

[2021-09-01 18:02] pdxjohnny commented on #1217
- Need to be able to not have me as a roadblock on reviewing.
- Need to move to polyrepo structure
  - Need to have maintainers of different repos, and org admins
  -

[2021-09-03 13:55] pdxjohnny opened #1218 "model: omnimatte: Add model"
https://github.com/erikalu/omnimatte

[2021-09-03 17:45] programmer290399 commented on #1218
This looks like a research paper implementation rather than a library with a suite of models that could be used by the end user to make a custom solution, I'm curious to know why'd we want to add such a model ?

[2021-09-08 14:38] pdxjohnny opened #1219 "model: Decorators"
I hate subclassing, everyone hates subclassing. Let's make some decorators to create models, sources, etc...

[2021-09-08 19:39] pdxjohnny opened #1220 "question: How do I install on Ubuntu?"

[2021-09-08 19:40] #1220 closed

[2021-09-09 04:46] pdxjohnny opened #1222 "high level: train: Accept list as well as dict"
Use model.config.features to build dict

[2021-09-10 19:32] pdxjohnny opened #1223 "df: Create dataflow from existing code"
https://github.com/ChrisCummins/ProGraML

[2021-09-14 23:12] pdxjohnny opened #1224 "df: Optimal dataflow selection"
Using the considerations in the inventory for operation selection plus additional constraints/ values. Use existing methods for map routing to determine optimal operations / operation implementations.

Coffee example:

- coffee machine is one road
- Hot water boiler and french press is two roads

We can easily add complexity by adding more “roads”. If we dont have a coffee machine, we now have two

[2021-09-15 03:06] programmer290399 commented on #363
### [PerceptiLabs](https://www.perceptilabs.com/) can be a very good inspiration as well.

![Untitled](https://user-images.githubusercontent.com/41383069/133363828-f659b55a-2940-4de4-a72d-30c161d66280.gif)

Tagging: @pdxjohnny @mHash1m @sk-ip @sakshamarora1 @yashlamba

[2021-09-15 14:37] pdxjohnny opened #1225 "operation: C example"
it would be cool to show people how they can easily integrate C code into an operation (or model or whatever).

References:
- https://discuss.python.org/t/install-c-extension-sdists-without-requiring-a-pre-installed-compiler/10577?u=pdxjohnny

[2021-09-19 11:48] programmer290399 commented on #1136
There is some problem with commits related to tests, most probably related to point 1 above:
Some failing examples:
[code]

[2021-09-21 14:44] pdxjohnny commented on #1136
We might want to go with https://commitizen-tools.github.io/commitizen/

[2021-09-21 15:25] #1181 closed

[2021-09-21 16:27] pdxjohnny commented on #868
This is important because it make the access of prediction data uniform with the feature data.

`record.feature("a")` and ``record.prediction("b")` both give value when this is complete

[2021-09-22 02:31] programmer290399 commented on #1136
Looks great !! I guess it might be the best way to do it as we're sort of re-inventing the wheel here, I will look into it and come up with a plan to port our lint commit CMD to use this. Thanks for sharing 🙂 .

[2021-09-23 02:40] programmer290399 commented on #1200
are we good to go with tuner then ?,  shall I make a PR for this ? @pdxjohnny

[2021-09-26 04:15] programmer290399 commented on #363
### [Orchest](https://github.com/orchest/orchest) has very similar objectives like the webUI part of our project. We can take some inspiration from them as well.
![img](https://user-images.githubusercontent.com/1309307/111806797-a2c10300-88d2-11eb-9f21-bf1544f95b34.gif)

[2021-09-28 14:32] mHash1m commented on #1215
Didn't have an option to save in svg format but I guess that can be done later. And I hope there's nothing wrong with choosing existing icons
![DFFML-5](https://user-images.githubusercontent.com/58783659/135106470-a2091c83-7bab-4a6f-8ee0-5baab4a25eaa.png)
![DFFML-3](https://user-images.githubusercontent.com/58783659/135106501-6f0ba5f0-0314-4432-8d40-f77cdd9c05cd.png)
![DFFML-4](https://user-images

[2021-09-28 15:32] programmer290399 commented on #1215
#### 1. The octagon design looks really good, one thing that maybe we can add is some arrows on the lines inside it, to symbolize the data flow part of our project.
#### 2. We should look forward to adapting logos that look, good independent of the theme, I mean some logos look good on light-themed pages but look bad on dark ones and vice versa. We should choose one that looks good on both types o

[2021-09-28 16:44] programmer290399 commented on #1179
From gitter , posted by @pdxjohnny : https://khuyentran1401.github.io/Efficient_Python_tricks_and_tools_for_data_scientists/Chapter3/Numpy.html

[2021-09-28 18:08] Devesh-Shirsath commented on #1215
This look great!
Since ill be working on User Interface Design, maybe ill try playing with this logos colour combination. Maybe that might help us establish a design guide which i might use while designing the webui

[2021-09-28 18:29] Devesh-Shirsath commented on #1215
ill try making it more attractive, and will share svg format and source file

[2021-09-28 18:38] mHash1m commented on #1215
@programmer290399 yes, I chose the icon thinking of nodes as different API's and the octagon as DFFML linking and wrapping everything together.

@Devesh-Shirsath I'm not much of a designer so feel free to go about it as you like. If you could also add the arrows in the logo as Sahil mentioned, that'd be great!

[2021-09-28 18:51] Devesh-Shirsath commented on #1215
sure

[2021-09-28 20:20] Devesh-Shirsath commented on #1215
![image](https://user-images.githubusercontent.com/43561270/135159822-138e732e-549f-4c7c-a931-e5f747ec3bd2.png)

[2021-09-28 20:28] Devesh-Shirsath commented on #1215
![image](https://user-images.githubusercontent.com/43561270/135160457-65b60ab9-8633-48aa-a8a3-446d92972d40.png)
1. made a user flow icon with L as an arrow

![image](https://user-images.githubusercontent.com/43561270/135160575-42b70a8a-c25a-4541-9071-cd27e31c7113.png)
2. plain option

![image](https://user-images.githubusercontent.com/43561270/135160737-c8f35718-be71-4092-9086-d7047b0cadf4.png)
3.

[2021-09-28 20:28] Devesh-Shirsath commented on #1215
personally i like the last one

[2021-09-28 20:39] Devesh-Shirsath commented on #1215
logos like these will go well with the website/webapp
if we add a tagline to the logo, it'll get harder to manage spacing etc in the future hence I avoided it. we can add a tagline on the landing page somewhere

[2021-09-28 20:41] Devesh-Shirsath commented on #1215
pls share your feedbacks :)

[2021-09-29 01:37] programmer290399 commented on #1215
In my opinion 3 looks great, can we have the font arrangement like 2 in 3 ? I mean those two f's look a bit smaller actually leaves a subtle impression in the mind as compared to the plain font in 3.

What do you think @Devesh-Shirsath  @mHash1m ?

[2021-09-29 07:20] Devesh-Shirsath commented on #1215
![image](https://user-images.githubusercontent.com/43561270/135221489-73f33caf-7a98-4e29-b52b-ee5abb537d8d.png)
hows this?

[2021-09-29 17:07] Devesh-Shirsath commented on #1215
These are logos in SVG format
1. DFFML icon
2. logo for dark BG
3. logo for light BG
https://drive.google.com/file/d/1FgYAPIBbH4XkMqDQLmMDEvIEumsHt5Ck/view?usp=sharing

[2021-09-29 20:51] pdxjohnny commented on #1202
https://github.com/pdxjohnny/dffml/runs/3383868615?check_suite_focus=true

[2021-09-30 22:00] pdxjohnny opened #1228 "df: execution mode: SourceGraph refactor"
Interesting example of a workflow syntax: https://github.com/sourcegraph/batch-change-examples/blob/main/python-refactor/python-refactor.yaml

References:
- #958

[2021-09-30 22:01] pdxjohnny opened #1229 "df: execution mode: GitHub Actions Workflow"
References:
- #958

[2021-10-01 16:47] #1178 closed

[2021-10-01 16:47] #1182 closed

[2021-10-01 16:47] #1202 closed

[2021-10-01 17:05] pdxjohnny opened #1230 "docs: plugins: Explain plugin levels"
Explain plugin levels

- source file
- internal git repo
- internal package repo
- external package

[2021-10-01 19:03] pdxjohnny opened #1231 "df: Dataflow for dataflow config"
Ability to supply a dataflow to use to generate a config structure that will be merged with the dataflows statically defined config structure

[2021-10-01 19:04] pdxjohnny opened #1232 "df: events: Event type for new context created"
References:
- #919

[2021-10-01 19:05] pdxjohnny opened #1233 "df: types: dataflow: events: Allowlist and blocklist for event types"
References:
- #919

[2021-10-01 19:18] pdxjohnny opened #1234 "df: types: dataflow: events: require_responsesection"
`require_response` section maps event types that may change execution of a dataflow.

When an event in `require_response` is sent, the dataflow will continue according to the value the event type is mapped to.

For example:

[code]

If event `DATAFLOW_CONTEXT_CREATED` is in the `require_response` and set to `DATAFLOW_CONTEXT_PAUSE`. Then whenever the `DATAFLOW_CONTEXT_CREATED` event is fired by th

[2021-10-01 19:19] pdxjohnny commented on #1234
If event `DATAFLOW_CONTEXT_REQUIRES_CONFIG_DATAFLOW` is in the `require_response` and set to `DATAFLOW_CONTEXT_PAUSE`. Then whenever the `DATAFLOW_CONTEXT_REQUIRES_CONFIG_DATAFLOW` event is fired by the orchestrator, the orchestrator will pause execution of *the context*.

Another example:

[code]

The response might then be `DataFlowEventResponse.DATAFLOW_CONTEXT_CONTINUE` and a dataflow which is

[2021-10-01 19:41] pdxjohnny commented on #1234
Related to #919

[2021-10-01 19:43] #1200 closed

[2021-10-01 20:01] pdxjohnny commented on #1112
@programmer290399 If you're looking for issues this is a good one.

The problem here is that we are only testing [1] a case where `SLRModel` is used and it `isinstance(..., Model)` which doesn't trigger the undefined `mctx` variable bug in the above cases.

The goal is for the below code to work.

[code]

[code]

References:
- [1]: https://intel.github.io/dffml/master/tutorials/doublecontextentry.

[2021-10-01 20:42] pdxjohnny opened #1235 "df: types: SecretInput: New Input type"
There must be LockedSecretInput and UnlockedSecretInput. A LockedSecretInput becomes unlocked by going through a dataflow which is used to unlock that secret.

[2021-10-02 07:00] programmer290399 commented on #1222
I would like to pick this up, can you provide an example @pdxjohnny  ?

[2021-10-02 17:17] programmer290399 commented on #1112
I'm on it !! 👍🏽

[2021-10-04 18:53] pdxjohnny commented on #1184
https://stackoverflow.com/questions/19302530/python-generator-send-function-purpose

[2021-10-05 03:14] pdxjohnny opened #1236 "service: dev: Gracefully handle configure parser errors"
config parser from `dffml/service/dev.py` crashes with multiple `insteadOf=` options in `~/.gitconfig`

This crash happens on load of dffml

[2021-10-05 03:55] pdxjohnny opened #1237 "docs: conf: nbsphinx: Consider setting figure formats to svg"
[code]

[2021-10-06 09:59] programmer290399 commented on #1143
I think I can pick this up for this week

[2021-10-06 17:17] programmer290399 commented on #1143
* What would be the correct defining the Model type. Shall we keep it as a property of the model that is set manually while defining the model class ?

* Or it should be a config property which is immutable, and we have a exhaustive set of types to choose from.

* In both cases I would need  an exhaustive set of types for models.

* Another way to deal with this could be to return the model object

[2021-10-06 17:53] pdxjohnny commented on #1143
Config properties are for runtime specific values. Do we have any situations, or can we think of any, where we might want to set the usage at runtime? The only one I can think of off the top of my head is treating a classification model's output as if it was a regression model.

[2021-10-06 17:54] pdxjohnny commented on #1143
Putting it in the config, with a default value set, would be a convenient place for it.

[2021-10-07 04:14] #1112 closed, assigned to nobody

[2021-10-07 13:28] johnandersen777 opened #1239 "df: input network: OpenLineage"
https://openlineage.io/getting-started

We need to make an `InputNetworkCollection` (kind of like `Sources`, it's a proxy for multiple input networks). Then make an `OpenLineageInputNetwork`. This will let dataflows send data to OpenLineage

[2021-10-07 13:56] johnandersen777 opened #1240 "df: orchestrator: ssh: Create ssh based orchestrator"

[2021-10-07 13:56] johnandersen777 opened #1241 "infra: revolt: Project chat"

[2021-10-07 13:57] johnandersen777 opened #1242 "infra: do: Digital Ocean deployment"

[2021-10-07 14:05] johnandersen777 opened #1243 "infra: funding: Come up with a way to fund infra from community"
- https://docs.tea.xyz/tea-white-paper/white-paper#staking-to-secure-the-software-supply-chain
- https://twitter.com/pdxjohnny/status/1446114123561848836
- #1241

[2021-10-07 14:19] pdxjohnny opened #1245 "service: dev: create: blank: Create a blank python project not DFFML specific"

[2021-10-07 16:58] #1245 closed

[2021-10-07 21:05] johnandersen777 opened #1247 "operation: run datafow: DevCloud"
Implementation for running on Intel DevCloud

- References
  - https://software.intel.com/content/www/us/en/develop/tools/devcloud.html
  - https://github.com/intel/vscode-oneapi-devcloud-connector
  - https://devcloud.intel.com/oneapi/documentation/job-submission/#how-to-target-specific-gpus
  - https://www.intel.com/content/www/us/en/develop/documentation/devcloud-containers/top.html
    - https

[2021-10-08 01:27] programmer290399 commented on #1243
* I started using brave rewards on [brave browser](https://brave.com/) recently, and at-least get around half a dollar/month in BAT, which can be transferred to other Ethereum based cryptos I guess.

* The point I am trying to make is if community members can start using brave and enable brave rewards, at the end of the month auto contribute the crypto amount to a creator account for DFFML, we can

[2021-10-08 16:10] johnandersen777 opened #1248 "cli: dataflow: Allow for adding inputs per context"
Right now we can only give inputs which are added to all contexts.

We should allow for adding inputs to a specific context

[2021-10-08 16:14] pdxjohnny opened #1249 "cli: dataflow: run: Allow for setting dataflow config"
Some configs are better defined at runtime of dataflow

[2021-10-09 13:13] johnandersen777 opened #1250 "docs: tutorials: df: orchestrator: Tutorial on writing an orchestrator"
Simple subprocess based orchestrator would be good.

[2021-10-09 13:14] johnandersen777 opened #1251 "df: kubernetes: job: Kubernetes based orchestrator"
Orchestrator for running dataflows in kubernetes using individual jobs.

[2021-10-09 14:23] pdxjohnny opened #1252 "arch: Isolation levels"
- Some applications require VM level isolation
- Dataflows
  - DataFlow level isolation (default)
    - OperationImplementations are shared across contexts
  - Context level isolation
    - OperationImplementations are unique to each context

[2021-10-09 14:26] pdxjohnny opened #1253 "docs: Post links to GSoC demo videos"

[2021-10-09 15:25] #1253 closed

[2021-10-09 16:48] RupeshRavindraDharme commented on #984
Can you assign this issue to me
I would like to try

[2021-10-09 20:00] pdxjohnny commented on #984
This is shaping up to be fairly complex. We’re going to split out things into the second party plugin #1061 repo structure. When we do that we should probably do this at the same time. I’ve removed the good first issue tag

[2021-10-10 05:50] programmer290399 commented on #1215
@pdxjohnny , can we approach [Jason Long](https://github.com/jasonlong), because as far as I know he has made logos for other Open Source projects as well.

[2021-10-11 05:54] mHash1m commented on #1143
Okay so, I'll talk here about enumerating the types.

From the types mentioned above, one may be a sub-type of the other...
For example, there are nlp and cv models that can be classified under 'classifiers' and vice versa.

They could be classified into:

- supervised and unsupervised
- classifiers, regressors, and clustering models.
- linear models, naive bayes, decision trees, ensemble methods,

[2021-10-11 06:14] programmer290399 commented on #1222
Sure @mHash1m, I haven't been able to take a look at this, if you feel like you can pull it off then please go ahead !! 👍🏽 🙂

[2021-10-11 06:20] programmer290399 commented on #1143
Exactly @mHash1m !! We can differentiate between models in a lot of ways and we need to make sure that we're on the same page about this and thus we should definitely pick this up in next weekly sync. Until then I think I can make PR implementing  `Model trained/not-trained status` as it is pretty simple and there's no confusion around it as well.

[2021-10-11 06:29] programmer290399 commented on #1243
Using personal infrastructure might cause problems because its not easy to keep home-servers up, due to power, connectivity and endurance issues. But still what kind of configuration we'd need for a home server anyways ?

[2021-10-13 10:47] programmer290399 commented on #1215
Tagging @jasonlong

[2021-10-13 17:00] johnandersen777 opened #1255 "infra: operations: cve-bin-tool: Provide operation as a service"
It would be interseting to use cve-bin-tool as an example for how to deploy and operation accessable to others as a serivce https://github.com/intel/cve-bin-tool/issues/1379#issuecomment-942497166

[2021-10-13 23:22] pdxjohnny opened #1256 "df: Investigate ECMA metadata"
Light on details here, I'm not sure exactly what this is but it looks like some way to define code that can be translated into native code in different languages. This seems like it would fit in somewhere with our dataflow stuff (in the code generation side of things, think run_dataflow but instead of executing it does code generation).

References:
- https://github.com/timsneath/win32/blob/feea66

[2021-10-14 03:55] pdxjohnny commented on #1241
It would be awesome if we could have some chatops

[2021-10-15 03:07] programmer290399 commented on #1194
Update for new contributors, `optimizer` is now `tuner`, change introduced in #1227 which closed #1200

[2021-10-15 05:09] programmer290399 commented on #1243
More on Brave's BAT : https://landchad.net/bat

[2021-10-15 15:42] johnandersen777 opened #1257 "skel: common: version: Need to remove file"
`$ rm dffml/skel/common/REPLACE_IMPORT_PACKAGE_NAME/version.py` push a pr and see if it works

[2021-10-15 16:32] johnandersen777 opened #1259 "skel: source: Update to set CONFIG and remove old classmethods on MiscSource"
Remove the args and config methods and set the CONFIG proprety to MiscSourceConfig. Push a PR to double check that this changes does not break anything

[2021-10-19 13:38] programmer290399 opened #1260 "model: `Model` Base Class: Add a property to return the location correctly"
## Pain Point

Currently almost all models use a if else block to determine which location to use, the one provided by the config or the temp dir

https://github.com/intel/dffml/blob/e7a356dfe8fd6fdf3cac7f8c218abc7d650fd93c/model/tensorflow/dffml_model_tensorflow/tf_base.py#L136-L146

https://github.com/intel/dffml/blob/e7a356dfe8fd6fdf3cac7f8c218abc7d650fd93c/model/pytorch/dffml_model_pytorch/pyt

[2021-10-20 14:40] johnandersen777 opened #1262 "github: workflow: GitHub Actions comment bot to help users check CI failures"
Reference the below link for the how to read the CI section

https://github.com/intel/dffml/blob/master/docs/contributing/git.rst#how-to-read-the-ci

this section should be converted from restructuredtext to markdown

the new markdown document should be included under the index.rst table of contents within the docs/contributing directory

in GitHub actions workflow should be created which looks fo

[2021-10-24 06:30] programmer290399 opened #1264 "ci: master: Multiple tests failing"
All the failing tests have been listed below:

- [x] **test (model/scikit, 3.8)**

- [x] **test (model/scikit, 3.7)**

- [ ] **test (examples/shouldi, 3.8)**

- [ ] **test (examples/shouldi, 3.7)**

- [ ] **test (., 3.8)**

- [ ] **tutorials (3.7, docs/examples/dataflows.rst)**

- [ ] **tutorials (3.7, docs/examples/icecream_sales.rst)**

- [ ] **tutorials (3.7, docs/tutorials/dataflows/nlp.rst)**

[2021-10-26 16:49] johnandersen777 opened #1266 "model: detectron2: Mask-RCNN"
https://github.com/facebookresearch/detectron2

[2021-10-26 16:51] johnandersen777 opened #1267 "tests: flower17: Need to update API usage"
See failure for `.` plugin

Related: #1264

[2021-10-26 16:55] #1257 closed, assigned to nobody

[2021-11-03 15:00] pdxjohnny opened #1268 "cli: Make operations and commands (CMD) the same thing"
For example: https://github.com/intel/dffml/commit/1a5073578

We need to figure out the best way to take an operation and make it usable as a `CMD`. I think one of my branches started on this but not sure.

[2021-11-03 18:21] pdxjohnny opened #1269 "op: NxExecutorOperation: Support for running nx executors as operations"
https://nx.dev/l/n/executors/creating-custom-builders

See stackstorm PR for inspiration

[2021-11-05 14:31] pdxjohnny commented on #1217
https://twitter.com/fintanr/status/1456221518896246784?s=20

[2021-11-05 18:00] pdxjohnny opened #1270 "tests: ci: gitpod: Ensure we have test of gitpod build and init"
We need to make sure we have a test case in CI (probably not in `tests/`) which builds the `scripts/gitpod.Dockerfile` and then runs `.gitpod.yml` `tasks[0].init`.

[2021-11-06 17:29] pdxjohnny opened #1271 "cli: dataflow: convert: Format transform"
Convert a given file format into a dataflow.

[2021-11-06 21:26] pdxjohnny opened #1272 "df: context: Identity awareness"
We need to make InputSetContext's contain some information about the
identity of the entity executing that context.

This will assist with resource allocation and billing'

[2021-11-08 17:49] pdxjohnny opened #1274 "tests: docstrings: Doctest and consoletest for module __doc__"

[2021-11-08 18:16] #1274 closed

[2021-11-13 22:10] RAVANv2 commented on #1259
Hi @pdxjohnny,
I think I can resolve this issue, Give me some time, soon I will make one PR for the same.

[2021-11-18 12:00] programmer290399 commented on #619
I'm still working on this.

[2021-11-30 05:13] pdxjohnny commented on #1125
Great... still hitting this bug...

[2021-12-01 19:01] deepakdinesh1123 commented on #1262
Can I work on this?

[2021-12-02 01:22] programmer290399 commented on #1262
@deepakdinesh1123  Yes! Please see https://intel.github.io/dffml/master/contributing/dev_community.html#who-s-working-on-what. As a rule we don't ask if we can do something, we state our intention to try to do it, then follow those guidelines.

[2021-12-02 06:04] programmer290399 opened #1278 "linting: notebooks: Can use nbQA"
link: https://github.com/nbQA-dev/nbQA

[2021-12-03 17:10] deepakdinesh1123 commented on #1262
Thank you for letting me contribute to the repository, I am working on the issue, I will make a pull request soon.

[2021-12-07 05:18] programmer290399 commented on #363
Another nice UI: https://noisecraft.app/
![image](https://user-images.githubusercontent.com/41383069/144970981-6448b804-285c-43a4-b55c-23bccbc50e8a.png)
GitHub Repo: https://github.com/maximecb/noisecraft

[2021-12-07 14:37] deepakdinesh1123 commented on #1262
I could not find a find a Github action that lists all issues with certain label, it can be done using the API, I also tried to look for it in the marketplace but was unable to find one. How do I proceed?

[2021-12-10 05:01] pdxjohnny opened #1279 "docs: dataflows: Improve docs"

[2021-12-10 05:19] pdxjohnny commented on #1279
By convention operations which have a single output we usually name that output `result`

[2021-12-10 22:46] pdxjohnny commented on #1279
DataFlows are all effectively typed streams

[2021-12-14 17:48] pdxjohnny opened #1280 "model: tensorflow: cnn: Transfer learning model"
@shauryaDugar will be contributing a model based on mobilenet

[2021-12-14 17:51] pdxjohnny opened #1281 "packaging: windows: Make conda package"
pip often fails on windows, but conda usually works. most people use windows

[2021-12-14 23:35] pdxjohnny commented on #1279
- Manifests to describe pipelines, BOMs, tests
  - We need this so that we can do our polyrepo setup
- Manifest contains enough information to reproduce the run
  - Decouples intent from implementation
    - Reduces lock in
    - In absence of a tool (EOL) one could implement the operations to reproduce the execution of the manifest
- Human and machine editable text files
- Will be checked in to v

[2021-12-14 23:39] pdxjohnny commented on #1279
- You could have a manifests for anything
  - Any CLI tool could have a manifest which could be converted into it’s CLI args
    - See subprocess orchestrator branch
- Convert from manifest into data flow description
  - Ideally well defined machine readable (auditable) and writable
  - consoletest even plays with documentation as manifest / dataflow
- Manifests are a problem space specific way of

[2021-12-14 23:40] pdxjohnny commented on #1279
- Data Flow is generic representation of program flow
  - Implement executors or synthesizers based off dataflow (Orchestrators)
    - Instead of directly from manifest, can be reused across manifest formats
  - Data Flow maps well to concepts like a Jenkins’s Pipeline, GitHub Actions Workflow, etc.
    - Operations within flows map to Jenkins Step, GitHub Actions Action, etc.
- Security
  - Allow

[2021-12-14 23:44] pdxjohnny commented on #1279
- Orchestrator allows for
  - Switching execution method easily
    - Run on my local machine to test
    - Run in kubernetes cluster
    - Run in Intel DevCloud for access to machines with ML hardware
  - Local development
    - Rapid iteration on CI jobs
    - No need to push repo to validate CI is working
    - Finally we can support running all tests locally
- Operation abstraction layer allow

[2021-12-14 23:48] pdxjohnny commented on #1279
- Zero-th phase parser
  - Every format has a parser
  - Formats with multiple versions need parser per
    - You might maintain the version 1 parser in the 1.x branch, version 2 in the 2.x branch, etc.
- Write "next phase" parsers specific to task and format name and format version
  - Generate data flow description of format (in case of a manifest)
- First line of decision making
  - shim layer

[2021-12-14 23:51] pdxjohnny commented on #1279
- What does this allow us to do?
  - Diamond pattern validation of all DFFML plugins

[2021-12-15 15:28] pdxjohnny opened #1282 "docs: community: Similar projects"
Come up with a list of similar projects so people can better orient themselves with where we fit in the landscape

[2021-12-15 15:33] pdxjohnny commented on #1282
- https://docs.dagster.io/tutorial
  - Very similar
  - Lacks InputNetwork concept for execution of same flow across multiple machines
  - https://docs.dagster.io/_apidocs/execution
  - Investigate interoperability

[2021-12-23 19:52] jasonlong commented on #1215
I had an idea pop into my head today so I played around with it a bit. The concept uses a [Guilloche Pattern](https://www.wikiwand.com/en/Guilloch%C3%A9) with all of the loops and colors representing the wide range of ML libraries your project facilitates working together.

Let me know a general :+1: / :-1: on how this feels.

![dffml-logo-concept-v1](https://user-images.githubusercontent.com/6104

[2021-12-25 09:20] programmer290399 commented on #1215
ping: @pdxjohnny, please 👀
We should probably discuss this in the next meet.

[2021-12-27 16:44] pdxjohnny commented on #1215
Neat! This is great! :D Thank you @jasonlong

[2021-12-27 17:41] jasonlong commented on #1215
Let me know if you have any tweaks in mind. Otherwise, I can get you some SVGs for you to use.

[2021-12-28 18:33] pdxjohnny commented on #1217
https://blackgirlbytes.dev/how-to-support-early-career-developers

[2021-12-28 21:38] pdxjohnny commented on #1279
Generic flow (data,work,program) executor

[2021-12-29 17:22] pdxjohnny commented on #1282
https://cloud.google.com/blog/products/ai-machine-learning/serverless-machine-learning-pipelines-on-google-cloud

[2022-01-02 12:07] programmer290399 commented on #1282
https://github.com/Auto-DL/Auto-DL

[2022-01-02 12:09] programmer290399 commented on #1282
Issue #363 has many entries as well.

[2022-01-02 18:28] Devesh-Shirsath commented on #1215
This looks awesome and fresh!!
would it look nicer if we had fewer loops?
because I think a logo is nicer if people can draw it by hand easily!

[2022-01-04 15:49] pdxjohnny commented on #1262
I would check out https://github.com/actions/github-script

[2022-01-04 16:44] #1236 closed

[2022-01-04 17:21] pdxjohnny opened #1283 "docs: quickstart: Use consoletest"
Rewrite quickstart using consoletest to test instead of shell scripts and python files that exists

https://github.com/intel/dffml/blob/master/dffml/util/testing/consoletest/README.md

[2022-01-04 21:56] jasonlong commented on #1215
@Devesh-Shirsath Thank you for the feedback. I don't think a Guilloche pattern is something people will ever be able to draw accurately, but I did explore some variations with fewer loops to simplify the shape. Going with fewer loops than this (20) starts to feel like the React and Atom editor logos.

Here's an updated version with colored and 1 color variations.

<img width="786" alt="dffml-logo-

[2022-01-05 03:37] programmer290399 commented on #1215
I love the top row in this one, I think we should finalize this one. Let's do a final vote on this. Ping: @pdxjohnny @sakshamarora1 @yashlamba @0dust @Devesh-Shirsath

[2022-01-05 14:41] jasonlong commented on #1215
To clarify, they're all the same logo but I included single color options for when that's a constraint. The final set of SVGs would contain both color versions and single color.

[2022-01-05 15:28] 0dust commented on #1215
Love the first one!

[2022-01-07 15:15] pdxjohnny opened #1284 "docs: examples: innersource: api: Keybase style proof"
We should create a way to do a keybase style proof of ownership of a repo. This would allow for posting of arbitrary metrics to a metrics database.

[2022-01-08 16:15] pdxjohnny commented on #1279
- Show how we convert from abitrary manifests into dataflow format
  - Will likely need to flush out config / object loading.
  - Probably need to support full object paths and then validate that they are BaseConfigurables
- Need to support secret "unlock" stuff, this is probably similar to dataflow for config
  - This also amounts to: my input goes through this flow to become a different value

[2022-01-12 11:46] deepakdinesh1123 commented on #1262
I checked out the repository and it seems like we need to write query using the github api v4 that uses graphql. Unfortunately I do not have enough knowledge about graphql and javascript so I cannot contribute to this issue.

[2022-01-14 20:57] pdxjohnny commented on #1279
# Manifest Schema

Manifests allow us to focus less on code and more on data.
By focusing on the data going into and out of systems. We can achieve standard
documentation of processes via a standard interface (manifests).

Our manifests can be thought of as ways to provide a config class with it's
parameters or ways to provide an operation with it's inputs.

References:

- Manifest Shim (parser an

[2022-01-18 00:05] pdxjohnny opened #1285 "community: GSoC 2022"
From: Terri (paraphrased)

Just a quick note to let you know that we're gearing up for GSoC 2022.
It's going to be an interesting year!  Google's made a few big changes:

1. GSoC is open to anyone over 18, not just students!
2. Projects can now be 175 hours (part-time like last year) or 350hrs (full time like previous years)

- [ ] update documentation to use the new language of "GSoC contributor"

[2022-01-18 20:03] mHash1m opened #1286 "model: tensorflow: Add pre-trained models as done with Pytorch"
We currently just have DNNClassifier module wrapped along with a text classifier.

We need to be able to use pretrained models available in tensorflow.
An example of expected outcome would be the [Pytorch plugins](https://intel.github.io/dffml/plugins/dffml_model.html#dffml-model-pytorch)

You'd probably have to add pretrained models like done with Pytorch in this [commit](https://github.com/intel

[2022-01-21 04:39] pdxjohnny commented on #1279
State transition, issue filing, estimating time to close issue, all have to do with having the complete mapping of inputs to problem (data flow). If we have an accurate mapping then we have a valid flow, we can create an estimate that we understand how we created the estimate because we have a complete description of the problem. See also: estimation of GSoC project time, estimation of time to com

[2022-01-21 16:10] pdxjohnny opened #1287 "docs: examples: innersource: Org health and issue prioritization"
@yashlamba @sakshamarora1 and I talked about this last night in relation to @builtree

As a reminder, we are interested in InnerSource and the OpenSSF identifying security threats work being done in the open source community because it ties back to our initial mission with open source dependency security / maintainability analysis. This work also helps our project (dffml) as we scale out to unders

[2022-01-22 18:30] pdxjohnny opened #1288 "docs: installation: Add pip installed user script location to Windows PATH"
Location is `%USERPROFILE%\AppData\Roaming\Python\Python310\Scripts` for Python 3.10

`Start-Process -Verb RunAs setx.exe -Args "PATH", "$env:PATH;C:\Users\Johnny", "/m"`

[code]

References:
- https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/setx

[2022-01-22 18:38] pdxjohnny commented on #1288
This doesn't seem to be working...

[2022-01-22 18:40] pdxjohnny opened #1289 "util: testing: consoletest: commands: Import fcntl fails on Windows"
[code]

[2022-01-22 18:49] pdxjohnny opened #1290 "docs: installation: windows: Install git"
For creating plugin packages it would be good to tell people to install git

[code]

References:
- https://git-scm.com/download/win

[2022-01-24 14:56] pdxjohnny opened #1293 "operations: Portland data"
Create a plugin package using `dffml service dev create operations dffml-operations-portland-data`

Use the APIs from https://www.portlandmaps.com/opendata/

Check to see of someone has already implemented a client first. We’ll figure out together as a team how to wrap that client if so (even if its not in python)

References:
- https://www.portlandmaps.com/

[2022-01-24 17:37] programmer290399 commented on #1264
UPDATE: `tests.test_scikit.TestRANSACRegressorModel` fails randomly sometimes due to negative accuracy. More information up [here](https://stackoverflow.com/questions/56621252/negative-accuracy-score-in-regression-models-with-scikit-learn).

Need to look into it as well...

[2022-01-25 04:46] Onkar627 commented on #1290
Should we also add macOs and Linux guides to install git.

[2022-01-25 04:50] pdxjohnny commented on #1282
https://github.com/kedro-org/kedro

[2022-01-25 06:36] pdxjohnny commented on #1290
Yes!

[2022-01-25 13:15] programmer290399 commented on #1215
Final Pole up here: https://strawpoll.com/whu887f89
Please vote before month-end...

Ping: @jasonlong @Devesh-Shirsath @0dust

[2022-01-26 15:21] #1222 closed

[2022-01-26 15:24] pdxjohnny opened #1294 "high level: ml: Refactor call to list_records_to_dict into model base class"
This should be an overridable method in model base class. We should call it from the locations it appears in high_level (3 of them)

[https://github.com/intel/dffml/blob/714d32535e5874286fe26b645e670e72bdbf2616/dffml/high_level/ml.py#L54-L70](https://github.com/intel/dffml/blob/714d32535e5874286fe26b645e670e72bdbf2616/dffml/high_level/ml.py#L54-L70)

[2022-01-26 15:51] pdxjohnny opened #1295 "docs: contributing: docs: Reference testing docs section under testing from docs page"

[2022-01-26 16:14] pdxjohnny opened #1296 "model: scikit: tests: Intermitant failure of RANSACRegressorModel accuracy sometimes returns negative value"
(echo -e 'Related: https://github.com/intel/dffml/pull/1292\nRelated: https://github.com/intel/dffml/runs/4914648319?check_suite_focus=true')

[2022-01-26 16:23] pdxjohnny opened #1297 "docs: installation: Local containerized development environment"
Equivilant of gitpod (could use local containers on linux, or WSL2, or k8s?)

[2022-01-26 16:33] programmer290399 opened #1298 "docs: contributing: dev_env: Step to install plugins in dev mode fails on auto-sklearn"
When you run:
[code]
It breaks on auto-sklearn due to missing dependencies...

[2022-01-28 14:58] pdxjohnny commented on #1279
We use dataflows because they are a declarative approach which allows you to define different implementations based on different execution environments, or even swap out pieces of a flow or do overlays to add new pieces.

They help solve the fork and pull from upstream issue. When you fork code and change it, you need to pull in changes from the upstream (the place you forked it from). This is dif

[2022-01-31 00:10] #1289 closed

[2022-01-31 00:11] pdxjohnny commented on #1279
Notes from work in progress tutorial:

We need to come up with serveral metrics to track and plot throughout.
We also need to plot in relation to other metrics for tradeoff analysis.

We could also make this like a choose your own adventure style tutorial,
if you want to do it with threads, here's your output metrics. We can
later show that we're getting these metrics by putting all the steps
into

[2022-01-31 00:13] pdxjohnny opened #1300 "manifest: shim: Add JSON schema validation"
Related: https://github.com/intel/dffml/pull/1273/files#r744390219

[2022-01-31 17:49] pdxjohnny opened #1301 "service: pytest: Integrate calling to orchestrator to execute pytests tests remotely"

[2022-02-01 15:32] pdxjohnny commented on #1215
![image](https://user-images.githubusercontent.com/5950433/151998405-9659b648-0792-46a1-ade7-e041746d7db6.png)

![image](https://user-images.githubusercontent.com/5950433/151998623-7ede4b07-3f4b-40ef-ad37-a047ceb9fcd2.png)

[2022-02-02 23:43] jasonlong commented on #1215
Sorry for the delay. I'll get this added soon. 👍🏼

[2022-02-04 01:01] pdxjohnny commented on #1285
Hey all,

You can now apply to be a Python sub-org for GSoC 2022 here:
   https://blogs.python-gsoc.org/en/suborg/application/new/

Sub-org applications are due Feb 19th.

(We've tried to streamline the form a bit, please let us know if you encounter any problems!)

As usual, you're encouraged to submit your own top-level-gsoc org applications directly to Google.  If you'd prefer not to appear on

[2022-02-05 04:55] #1215 closed

[2022-02-05 06:46] pdxjohnny commented on #1215
Thank you @jasonlong!! So cool that the project has a logo. We'll be able to put the logo on the GSoC project page this year. https://python-gsoc.org/ideas.html

[2022-02-05 12:38] jasonlong commented on #1215
Happy to help!

[2022-02-06 04:08] pdxjohnny opened #1304 "docs: blog: logo: Write up on past present and future"
Need to add the following as a page on the docs site:

---

DFFML has a logo! https://github.com/intel/dffml

[Saahil Ali](https://www.linkedin.com/in/ACoAACgHETgBuh1yIBNZ2Hq9SD7tNklizg-xoE8) reached out to the guy who designed Git's logo and asked him if he would design us a logo, and well, he did it!

For some reason the project getting a logo feels like some kind of milestone in it’s journey. I

[2022-02-06 06:18] Onkar627 commented on #1304
Should we have to also change the existing logo as in readme?

[2022-02-06 06:24] Onkar627 commented on #1304
Where can we add this in docs?

[2022-02-06 18:02] pdxjohnny commented on #1304
I will take care of this one

[2022-02-08 19:33] pdxjohnny commented on #1279
`InputNetwork`, any UI is just a query off of the network for data linkages. Any action is just a retrigger of a flow. On flow execution end combine caching with central database so that alternate output querys can be run later. Enabling data lake.

[2022-02-09 23:48] pdxjohnny commented on #1279
Classes become systems of events (dataflows) where the interface they fit into is defined by contracts (manifests)

[2022-02-09 23:49] pdxjohnny commented on #1279
To implement and interface one but satisfy system usage contraints. I.e. must be ready to accept certain events (manifest) and fulfill contract. Might also need to give certain events (inputas manifest)

[2022-02-10 06:16] programmer290399 opened #1305 "README : Conditionally render dark/light mode logos depending on user's GitHub theme"
## Proposed Solution

It is a simple fix : https://stackoverflow.com/a/70200610/10108465

[2022-02-10 06:17] programmer290399 commented on #1305
@pdxjohnny please add label of good-first-issue here 🙂

[2022-02-10 12:21] Onkar627 commented on #1305
@programmer290399 are you referring to DFFML logo in the readme file?

[2022-02-10 15:52] programmer290399 commented on #1305
Yes @Onkar627

[2022-02-11 03:33] #1305 closed

[2022-02-11 03:37] pdxjohnny commented on #1293
@snnipetr We have a meeting in 11 and a half hours if you want we can discuss it then. Please check out the operations example: https://intel.github.io/dffml/examples/shouldi.html

[2022-02-11 03:37] pdxjohnny commented on #1293
Also please feel free to reach out on Gitter: https://gitter.im/dffml/community

[2022-02-11 03:39] #1290 closed

[2022-02-14 03:40] programmer290399 commented on #1282
https://github.com/flyteorg/flyte

[2022-02-14 03:41] programmer290399 commented on #1282
https://github.com/great-expectations/great_expectations
Not completely but this project has some intersection with our project

[2022-02-14 03:41] programmer290399 commented on #1282
Something that can act as a good inspiration:
https://github.com/feast-dev/feast

[2022-02-15 03:48] Onkar627 commented on #1280
Can I work on this? Also where should I add these models @pdxjohnny?

[2022-02-15 05:00] programmer290399 commented on #1280
@Onkar627 Yes! Please see https://intel.github.io/dffml/master/contributing/dev_community.html#who-s-working-on-what. As a rule, we don't ask if we can do something, we state our intention to try to do it, then follow those guidelines.

[2022-02-15 06:30] Onkar627 commented on #1280
Yeah, sure. Thanks!

[2022-02-15 16:44] pdxjohnny commented on #1287
- Random idea: Detection of things which indicate a code base with large amounts of technical debt
  - It can be hard to measure what we want to see, sometimes we can measure the opposite of what we want to see and invert it

[2022-02-16 09:44] programmer290399 commented on #1282
https://github.com/kubeflow/kubeflow

[2022-02-17 17:57] snnipetr commented on #994
@pdxjohnny  I think this issue still persists. Can I take up this one ?

[2022-02-18 13:31] programmer290399 commented on #994
Hey @snnipetr !!

Yess!! If you can reproduce the issue then please go ahead...
So as I can see there has been some work around this in #1000, so please take a look at that.

Also, as a rule, we don't ask if we can do something, we state our intention to try to do it, then follow [these](https://intel.github.io/dffml/master/contributing/dev_community.html#who-s-working-on-what) guidelines.

Before

[2022-02-18 17:21] pdxjohnny commented on #1279
- [ ] Run dataflow, collect usage statistics when running locally or k8s for CPU, memory, etc. Build model to predict how much CPU or memory is needed, check if cluster has enough before warn if orchestrator predicts using built model that number of context executing will exceed resource constraints based on historical estimated usage.
- [ ] How would we write a decorator to cache operations which

[2022-02-19 12:14] pdxjohnny opened #1307 "gsoc: project: Comparison demo"
Demo idea, make a page like this https://www.alaska.org/how-big-is-alaska/oregon set things to compare and have dataflow do lookups maybe using nlp

One plan could be to make it just like this and compare two states.

The demo should be based on dataflows so that it can be easily extended to other domains (other than states)

[2022-02-19 12:45] pdxjohnny commented on #36
https://docs.python.org/3/library/typing.html#typing.Annotated For definitions

[2022-02-19 13:28] programmer290399 commented on #1282
https://github.com/prefecthq/prefect

[2022-02-20 04:28] pdxjohnny opened #1308 "df: types: dataflow: Call update any time any subproperty of flow is modified"
## Pain Point

Currently when a use modifies `dataflow.flow` the dataflow is not updated unless `dataflow.update()` is called.

For example:

https://github.com/intel/dffml/blob/8c87efaf55707bf1c3f72406226de85111fb7681/examples/io/io_usage.py#L11-L49

## Proposed Solution

Ideally whenever `flow` is modified, or any subproperty all the way down the nested objects is modifed. We would automatically

[2022-02-20 04:42] pdxjohnny commented on #1285
Ideas:
- AutoML: https://github.com/intel/dffml/issues/968
- DataFlow event types: https://github.com/intel/dffml/issues/919
- Comparison dataflow: https://github.com/intel/dffml/issues/1307

[2022-02-21 03:45] programmer290399 commented on #1136
https://github.com/wagoid/commitlint-github-action

[2022-02-21 03:46] programmer290399 commented on #1136
We can also look into this one: https://github.com/wagoid/commitlint-github-action

[2022-02-26 04:02] Onkar627 commented on #1307
I ready to work on this task but can you guide me like from where can I start?

[2022-03-02 13:51] Rennylex opened #1310 "docs:"
Just a tiny issue...looks like the documentation for the master branch has become 404

[2022-03-02 18:24] pdxjohnny commented on #1287
- How can we incentivize reduction of technical debt?
  - How can we quantify technical debt due to duplicated feature sets?
    - Can we do it by quantifying it's inverse? By saying what would be the maximum amount of InnerSourceyness and how far we are away from that?

[2022-03-03 15:31] pdxjohnny commented on #1310
Can you post a screenshot with the URL in it so we can better understand what's not rendering please? Thanks for reporting! I wasn't able to see the same issue.

[2022-03-03 19:48] pdxjohnny opened #1311 "high level: train: Exit after accuracy is up to value X"

[2022-03-04 01:57] pdxjohnny opened #1312 "df: Built in policy to dataflows"
Rules for origins, how things are allowed to flow. This must never be used as secret. This must never be this value. Check identify aware context credentials (ability to use identiy aware context as inputs)

[2022-03-04 02:55] Rennylex commented on #1310
![image](https://user-images.githubusercontent.com/46737781/156689119-086d2b6c-624e-4244-b9b3-d4271027fee2.png)
![image](https://user-images.githubusercontent.com/46737781/156690245-d3a90156-13d8-46ed-9f9f-031c880bcc18.png)
![image](https://user-images.githubusercontent.com/46737781/156690295-9e606cc3-e883-4f3d-afd6-3300bd0f0697.png)

Looks like I was using an old url or something...now I can brow

[2022-03-04 03:26] programmer290399 commented on #1310
I believe this is an inconsistency rather than an issue, as you're trying to browse the API docs which are auto-generated by Sphinx and we don't have `.rst` files for them.

[2022-03-04 05:28] Rennylex commented on #1310
OK got it. If I want to edit these pages, what should I do?

[2022-03-04 08:28] programmer290399 commented on #1310
They are generated using the code, so the documentation is built using the docstrings written in the code. To edit these docs you need to edit the docstrings and the changes will reflect when you build the code.

[2022-03-06 16:35] pdxjohnny opened #1313 "docs: contributing: Code Review"

[2022-03-06 16:35] pdxjohnny commented on #1313
https://refactoring.guru/

[2022-03-08 17:10] pdxjohnny opened #1315 "service: sw: src: change: notify: Service to facilite"
Related:
- https://github.com/intel/dffml/pull/1061#discussion_r819930461

[2022-03-08 20:54] pdxjohnny commented on #1287
- What are the dependencies?
  - Do we see authors from the downstream project showing up as contributors in their dependencies?
    - Filing issues?
    - In git log?

[2022-03-09 00:45] pdxjohnny opened #1316 "df: opimpn: Source directory based OperationImplementationNetwork"
Can subclass to synthesis and dynamic execution at a minimum

allow for pulling from git repo, directory, zip, url

shared config to share same directory or repo spec objects

[2022-03-09 03:02] pdxjohnny opened #1317 "df: types: DataFlow: Alternate flow update syntax on creatation to direct from structures"
Add option for when creating dataflow, have the option to say which operations
have inputs which should use the same definitions. Allow for config structures
as arguments so that we can determine that values may come from properties in
those structures as well.

[2022-03-09 14:43] pdxjohnny opened #1318 "docs: contributing: maintainers: gsoc: How to apply"

[2022-03-09 14:45] pdxjohnny commented on #1313
https://docs.google.com/document/d/1_Vxmlgh_MMdAhyGqRKSsgyaXOM620oV_r5bSfQFByBE/edit?usp=sharing

[2022-03-09 14:49] pdxjohnny commented on #969
This was closed by @sk-ip via his project last year 🎉

[2022-03-09 14:49] #969 closed

[2022-03-09 14:56] pdxjohnny commented on #1318
- Go to https://python-gsoc.org/deadlines.html to check deadlines
- GSoC team wants to see a single ideas page, this page can reference other pages for the individual ideas
  - Copy last years GSoC pages into a new directory
  - https://github.com/intel/dffml/blob/master/docs/contributing/gsoc/2021/
- Ensure we have at least 3 ideas
  - We can copy structure from previous years
    - https://githu

[2022-03-09 15:26] pdxjohnny commented on #1318
Idea template:

[code]

[2022-03-10 00:30] programmer290399 opened #1319 "source: datasets: Add common time-series datasets"
## Pain Point

Currently, we do not have any commonly used time-series datasets available in dffml

## Proposed Solution

Write a dataset source (like we have [iris dataset](https://github.com/intel/dffml/blob/master/dffml/source/dataset/iris.py)) to add the following basic datasets:

### Univariate Datasets
- [ ] [M4 Forecasting data](https://www.kaggle.com/yogesh94/m4-forecasting-competition-dat

[2022-03-10 00:55] programmer290399 opened #1320 "models: Add Time Series Forecasting models"
## Pain Point

Currently, we have few models capable of time series forecasting and we need more models for the same.

## Proposed Solution

Implement the following models in DFFML:

- [ ] [RNN Based Model](https://www.tensorflow.org/tutorials/structured_data/time_series#recurrent_neural_network)
- [ ] [LSTM Based Model](https://machinelearningmastery.com/how-to-develop-lstm-models-for-time-series

[2022-03-10 01:16] programmer290399 opened #1321 "operation: data: Add/Update operations to handle time series data"
## Pain Point

We do not have operations to work with time-series data

## Proposed Solution

Implement/Update operations for the following tasks:
- [ ] NaN Handling
- [ ] Outlier Removal
- [ ] Missing Timestamp Handling
- [ ] Scaling
- [ ] Shifting/lag generation
- [ ] Time Series Decomposition

[2022-03-10 04:00] programmer290399 opened #1322 "gsoc: project: Adding Time-Series Forecasting Support in DFFML"
## Project Description

Time-Series Forecasting & Anomaly detection has paramount importance in many real-world problems like infrastructure monitoring, stock exchange, etc. Currently, DFFML has limited integration with time-series data formats and implementation of relevant models. This project aims to add basic support for commonly used datasets, models, and data pre-processing/cleaning methods

[2022-03-10 04:07] programmer290399 commented on #1285
Have added #1322 @pdxjohnny :)

[2022-03-10 15:03] pdxjohnny commented on #1285
We are live on the PSF website! Logo and all! :D

![image](https://user-images.githubusercontent.com/5950433/157689932-c231c05a-03fc-46c2-bbf6-d5f8aad90bf5.png)

[2022-03-10 18:21] pdxjohnny commented on #29
something that might be useful:

Mark Tenenholtz (@marktenenholtz) Tweeted:
TL;DR:

Tabular: XGBoost/LightGBM/RF
Time series: XGBoost/LightGBM/RF
Image: ResNet/EffNet
Text: RoBERTa
Audio: ResNet/EffNet

Your best bet is usually to start with these and then experiment from there.

Nothing in ML is an end-all-be-all!

^ https://mobile.twitter.com/marktenenholtz/status/1501905757842731014

[2022-03-11 15:50] pdxjohnny opened #1324 "housekeeping: Remove large files from git history"
[code]

[2022-03-11 16:33] pdxjohnny opened #1325 "df: DataFlow as orchestrator"
Would be great to allow for making a plugin class from any dataflow, I think this issue might be a duplicate

In this case we want a dataflow to be used as an orchestrator

Related:
- #919

[2022-03-11 16:34] johnandersen777 opened #1326 "df: github: Implement actions workflow synthesis"
Create an orchestrator (orchestrator as dataflow?) to produce a github actions workflow file when run

- Make every input an secret

[2022-03-11 16:47] pdxjohnny opened #1327 "operations: datetime: Add operation to output current date"
Reference the Meta Static Analysis example to create a new operations in dffml/operation/datetime.py . Add the file and make two operations, one which returns `datatime.datetime.now()` and another which takes the output of the first operation and formats the date in the same format as https://intel.github.io/dffml/master/examples/integration.html#training-our-model

[2022-03-11 16:48] pdxjohnny opened #1328 "docs: examples: integration: Use date operation instead of date CLI utility"
Use the operations added in #1327 within https://intel.github.io/dffml/master/examples/integration.html#training-our-model

[2022-03-11 18:30] pdxjohnny opened #1329 "cli: version: Fails if git is not installed"
[code]

[2022-03-12 20:12] pdxjohnny commented on #1324
[code]

[2022-03-12 22:21] pdxjohnny commented on #1324
[code]

[code]

[2022-03-13 08:32] SamarthGarg09 commented on #1327
Hello @pdxjohnny, I want to work on this issue.

[2022-03-13 15:24] pdxjohnny commented on #1251
Source: https://www.eficode.com/blog/the-future-of-kubernetes-and-why-developers-should-look-beyond-kubernetes-in-2022

[2022-03-13 16:38] pdxjohnny opened #1331 "operation: art: Implement operations to grab artwork"
Implement operations to search each resource listed on https://www.openculture.com/2016/05/1-8-million-free-works-of-art-from-world-class-museums-a-meta-list.html

[2022-03-13 17:08] pdxjohnny commented on #1324
[code]

[2022-03-13 18:33] pdxjohnny commented on #1324
I think it's because of the tags:

[code]

[2022-03-13 20:23] pdxjohnny commented on #1324
[code]

[2022-03-14 13:46] pdxjohnny commented on #1315
ability to publish commit history across projects with email lists or chat notifcations to send on a per repo (or custom function) basis.

The goal here is that you're able to figure out what people are working on more quickly and collaborate on problems faster. Breaks down silos caused by pre-pr work. If everyones changes show up as code somewhere. You can quickly understand who is working on wha

[2022-03-14 15:44] gaurav879 commented on #1327
I am working on this.

[2022-03-14 22:04] pdxjohnny commented on #1272
https://github.com/sigstore/fulcio/pull/139

[2022-03-15 01:35] pdxjohnny commented on #1315
Dataflows as a web3 adapter via input network

[2022-03-15 03:01] pdxjohnny commented on #363
Most flow based tools are developer facing. We're talking allowing for arbitrary software to allow users to define flows which solve domain specific problems

[2022-03-15 03:07] pdxjohnny commented on #363
We want to do this project because we want to enable embeddability with ability to tailor for use case of the application which depends on the dataflow definition UI components.

We should look at the work we do here as if we are working towards introducing a new input type to HTML.

We're going for `<input type="dataflow">​` to be so ubiquitous because it useful for applications to allow users to

[2022-03-15 13:57] mHash1m opened #1334 "service: dev: install: scipy 1.4.1 pip installation blows up"
Python3.9 Venv
scipy 1.4.1

I've recreated the issue faced by some new folks.
As pointed out by @programmer290399 it could just be caused by Python3.9.
However, this is simply solved by removing the pin at 1.4.1 and installing 1.8.0 instead. I don't see any other errors in installation at least.
ping @pdxjohnny

[code]

[2022-03-15 15:00] programmer290399 commented on #1334
What I think happened here is this 1.4.1 scipy release is from 2019, so they might not have a wheel for this in python 3.9 which was released in 2020, thus it switched to compiling it from the source distribution, and the target machine didn't have a Fortran compiler and scipy has a decent chunk of it's code written in it, thus it fails to compile and all hell breaks loose

[2022-03-15 15:32] pdxjohnny commented on #1315
Source: https://www.linkedin.com/posts/manisha-s-b72713200_data-datascience-datavisualization-ugcPost-6908783417899806720-IiA5

Example for chaos metric visualization:

![image](https://user-images.githubusercontent.com/5950433/158413517-b6760c14-c082-494e-9fbd-9c03ab6bb0fc.png)

[2022-03-16 15:00] pdxjohnny commented on #1315
- study each thought or train of thoughts (dataflow within dataflows with full system context) to learn what activities a dev is trying
- train a model to classify trains of thoughts (the chaos metric stuff above)
- hook into dev workflows to identify active trains of thought
  - notify devs when they start to work on the same thing
  - notify devs when they start to work in a direction that anoth

[2022-03-16 20:05] agriyakhetarpal opened #1336 "docs: broken links in README.md and CONTRIBUTING.md"
1. The link mentioned in [https://github.com/intel/dffml/blob/f76f2ce94c3972634053377b00e7c16530f7f0a4/README.md#contributing](url) is broken and leads to an error 404 page.
2. The link mentioned in [https://github.com/intel/dffml/blob/f76f2ce94c3972634053377b00e7c16530f7f0a4/CONTRIBUTING.md](url) is also broken, just like the above one.

[2022-03-16 20:05] agriyakhetarpal commented on #1336
I'd like to fix this. I'll submit a PR in a moment.

[2022-03-17 05:05] Onkar627 commented on #1327
So do we also have to add the tools,plans etc or only the operations? @pdxjohnny .

[2022-03-18 14:19] #1336 closed

[2022-03-18 14:20] pdxjohnny opened #1338 "docs: contributing: videos: OBS Stream profiles"
For creating videos

[2022-03-18 14:44] pdxjohnny commented on #1338
With the meeting windows snapped to the left half of the 4k montor

![image](https://user-images.githubusercontent.com/5950433/159024611-16e69f62-d04e-4cca-b791-6435c3a56556.png)

[2022-03-18 21:47] pdxjohnny opened #1340 "docs: contributing: git: Rebasing in changes"
Document how to rebase in branches

[2022-03-18 22:01] pdxjohnny commented on #1340
Co-authored-by: Brent Watkins <brent.watkins@intel.com>

[code]

[2022-03-19 06:19] TirelessClock opened #1342 "GitHub error fix link branch not found"
## Describe the bug

I noticed a spelling error on https://intel.github.io/dffml/master/examples/notebooks/moving_between_models.html, so went to the Edit on GitHub link. The branch couldn't be found, and I was redirected to the default branch (screenshot below).

![Screenshot 2022-03-19 at 11 46 53 AM](https://user-images.githubusercontent.com/92638241/159109841-b0eaec41-8331-4ec0-9f0b-3582ce072e

[2022-03-19 06:23] #1342 closed

[2022-03-19 08:38] Saransh-cpp opened #1343 "docs: missing screenshot of grading rubric"
The screenshot of the grading rubric seems to be missing in https://intel.github.io/dffml/master/contributing/gsoc/rubric.html and is nowhere to be found in the repository.

[2022-03-19 12:02] vyshakhgnair opened #1344 "docs: Contributing page hyperlink in README.md does not work."
When I do click the hyperlink of Contributing page in README.md  then it shows page not found 404.

[2022-03-19 12:15] TirelessClock commented on #1344
Links with the tag /main/.. are down (such as https://intel.github.io/dffml/main/contributing/index.html and https://intel.github.io/dffml/main/index.html)

[2022-03-19 12:22] vyshakhgnair commented on #1344
Most probably,I think this link was available before that event.

[2022-03-21 04:29] coddiw0mple commented on #960
Hi @pdxjohnny I'm a student trying for gsoc and I'm thinking of implementing the [forecasting project idea](https://github.com/intel/dffml/blob/main/docs/contributing/gsoc/2022/forecasting.md), which seems to be related to this issue.

It would be a good learning experience for me and would equip me with the knowledge of this codebase to be able to work on that project later on.

If this is still

[2022-03-21 05:25] programmer290399 commented on #960
@coddiw0mple Yes!

Please see https://intel.github.io/dffml/master/contributing/dev_community.html#who-s-working-on-what.

As a rule, we don't ask if we can do something, we state our intention to try to do it, then follow those guidelines.

[2022-03-21 05:56] Onkar627 commented on #1340
Working on it.

[2022-03-21 09:54] coddiw0mple commented on #960
Thanks for your speedy response @programmer290399 I did go through it as I browsed the comments here :)

I asked this to be polite and make myself known but I'll make sure to follow proper guidelines from now on.

I'll work on this now

[2022-03-21 12:31] gaurav879 opened #1345 "Link in CONTRIBUTING.md is broken"
## Describe the bug

Link in CONTRIBUTING.md is broken

[2022-03-21 16:05] pdxjohnny commented on #1340
This might be helpful https://trunkbaseddevelopment.com/branch-for-release/

[2022-03-21 17:18] pdxjohnny commented on #1324
Maybe it has something to do with pull requests resulting in us hanging on to old objects?

Going to try pulling down each ref one by one using `git init` and then `git fetch`

[code]

[2022-03-25 08:28] TirelessClock commented on #1308
Hey @pdxjohnny, in https://github.com/intel/dffml/blob/8c87efaf55707bf1c3f72406226de85111fb7681/examples/io/io_usage.py#L30, why is .update used instead of assignment?

[2022-04-01 14:37] pdxjohnny opened #1350 "df: base: op: Support single output without auto-defined I/O"
[code]

[2022-04-03 23:26] pdxjohnny commented on #1319
Census data? https://registry.opendata.aws/

[2022-04-04 08:31] NDOWAH commented on #1343
Hi, i would like to work on this issue.

[2022-04-05 04:54] pdxjohnny commented on #1279
Run whatever you want, wherever you want, however you want, with whatever you want, for whoever you want.

[2022-04-05 05:15] pdxjohnny commented on #1282
https://www.triggermesh.com/

[2022-04-05 13:49] pdxjohnny commented on #1282
https://github.com/kestra-io/kestra

[2022-04-05 15:29] TirelessClock commented on #1319
Hey, @pdxjohnny @programmer290399 I'd like to work on this issue.
Can we use any dataset, or are there any specific requirements (aside from the ones you have written here)?
Also, could you tell me what exactly we would be doing with these datasets?

[2022-04-06 02:03] programmer290399 commented on #1319
Hey @TirelessClock !!

This issue is a part of a GSoC project for this year, so I am not sure if this is up for grabs or how it would work, you may solve this issue partially, but before proceeding please clear this out with @pdxjohnny.

As far as the question about "which datasets are to be used" is concerned, we definitely want the ones we have listed above, I have linked to their respective sou

[2022-04-06 03:32] Kodalien commented on #1320
@programmer290399 can be done in GSOC2022

[2022-04-06 04:31] TirelessClock commented on #1319
Hello @programmer290399 ,
Thanks for the reply! Yes, I completely understand that it's up for GSoC and it might not necessarily be up for grabs. I would still like to work on the project to solve for at least partially, and at present am working my way through the iris dataset.
I could use all the help you could give!

[2022-04-06 04:50] programmer290399 commented on #1320
Sorry @Kodalien, I didn't get your question (if it is one) here. Can you please elaborate a bit?

[2022-04-08 15:20] pdxjohnny opened #1353 "docs: contributing: code review: Create page documenting code review proecss"
- Legal requirements (see 2022-04-08 video)
- Code review pyramid
- CI checks
- etc.

[2022-04-09 17:43] pdxjohnny opened #1355 "housekeeping: Benchmark and improve import times"
This is a meta issue inspired by https://github.com/pypa/virtualenv/pull/2317

Just in case anyone feels like playing around with measuring import times.

we would want to write a test that ensures our import time is always less than X eventually

[2022-04-09 17:43] pdxjohnny commented on #1355
https://twitter.com/willmcgugan/status/1512715099110268931?s=20&t=GbHNef-b-jbwdSZX4CB49g

[2022-04-10 12:31] TirelessClock commented on #1321
Hey, @programmer290399
You mentioned earlier that you guys generally avoid using 3rd party libraries, does that mean we'll be writing the code for `Timestamp Handling` on our own or can we use the datetime library?

[2022-04-11 02:25] programmer290399 commented on #1321
Yes, anything within the Python Standard Library would be fine

[2022-04-12 07:21] programmer290399 commented on #662
Hey @ren276 !!
This issue has been closed and is already implemented.
Please pick any other open issue

[2022-04-13 11:40] seraphimstreets commented on #968
I'm currently working on this. As of date, I have working plugin that is able to perform AutoML regression/classification with H2O. depending on the task specification. However, the main problem I am encountering is that H2O's Python API does not allow one to save models with a custom name, and instead saves it to the model_id. This is problematic because it means the model name is non-determinist

[2022-04-13 19:42] mukund2201 commented on #1319
Ozone Level Detection Data Set
https://archive.ics.uci.edu/ml/datasets/Ozone+Level+Detection

[2022-04-15 05:55] TirelessClock opened #1360 "Central function for Dataset implementation"
Written in context of #1319, DFFML could build a centralised module for implementation of datasets.
That is, at present, in order to implement a new dataset, we need to write a new file for it, and deploy it on its own. Having familiarised myself with the iris dataset, I feel like the process is largely procedural, and we could work on functionalities to building one code for implementing any gene

[2022-04-16 20:23] AnkitKashyap0709 opened #1364 "How do I set up for "Contribution" ?"
On the GitHub page of dffml, the "[Contribution](https://intel.github.io/dffml/main/contributing/index.html)" documentation link is meant to guide the contributors on how to set up the dev. environment and start fixing the bugs. But that link didn't work. Need some help in clarifying those things from my fellow developers or our mentor.

[2022-04-17 04:36] programmer290399 commented on #1364
I guess you're looking for this page: https://intel.github.io/dffml/master/contributing/index.html

If that is it then please close the issue, or feel free to ask for more help on gitter chat.

[2022-04-17 05:25] Lily-Ananya commented on #1327
hiii..I am new in open source ...I want to  contribute ..
can you please help me how to approach ?

[2022-04-17 08:50] #1364 closed

[2022-04-18 14:08] pdxjohnny commented on #1287
GSoC project idea: Bridging the InnerSource engagement gap via editable documentation.

This also doubles as bridging the manager/developer communication gap.

[2022-04-18 15:59] pdxjohnny commented on #1282
https://github.com/linkedin/feathr

[2022-04-19 03:41] pdxjohnny commented on #1279
Hitting Critical Velocity. The fully connected dev model.